<webobject name = "NavPage">
<div class="Box ApplicationsListBox">
<h2 class="SectionHeading">Aplicações</h2>
<table>
  <tr>
    <th>Aplica&ccedil;&atilde;o</th>
    <th>Inst&acirc;ncias Rodando</th>
    <th>Inst&acirc;ncias Configuradas</th>
    <th>Visualizar Inst&acirc;ncias</th>
    <th>Configura&ccedil;&atilde;o</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <webobject name = "ApplicationsRepetition">
    <tr>
      <td>
        <webobject name = "AppIsRunning">
          <webobject name = "ApplicationNameLink" />
        </webobject>
        <webobject name = "AppIsNOTRunning">
          <webobject name = "ApplicationName" />
        </webobject>
      </td>
      <td><webobject name = "RunningInstancesCount" /></td>
      <td><webobject name = "TotalInstancesCount" /></td>
      <td><webobject name = "AppDetailsLink"><span>Ver Detalhes</span></webobject></td>
      <td><webobject name = "ConfigureLink"><span>Configurar</span></webobject></td>
      <td><webobject name = "DeleteLink"><span>Deletar</span></webobject></td>
      <td><webobject name = "BounceLink"><span>Bounce</span></webobject></td>
    </tr>
  </webobject>
</table>
</div>
<div class="Box AddApplicationBox">
<webobject name = "AddApplicationForm">
  Adicionar Applica&ccedil;&atilde;o Chamada
  <webobject name = "ApplicationNameTextField" />
  <webobject name = "AddApplicationSubmitButton" />
</webobject>
<div class="Notes">
	<h4>Notas:</h4>
	<ul>
		<li>Nomes de aplica&ccedil;&otilde;es podem conter apenas caracteres alfa-num&eacute;ricos ou '-'.</li>
    	<li>Nomes de aplica&ccedil;&otilde;es n&atilde;o precisam ser iguais ao noe do execut&aacute;vel no bin&aacute;rio.</li>
    	<li>Nomes de aplica&ccedil;&otilde;es s&atilde;o usados pelo adaptor para load-balancing.</li>
    </ul>
</div>
</div>
</webobject>