<webobject name = "NavPage">
<div class="Box HostTypeBox">
  <h2>Configurando o Servidor "<webobject name = "HostName" />"</h2>
  <webobject name = "HostSettingsForm">
  <p>Tipo de Servidor determina o Caminho e as configura&ccedil;&otilde;es OutputPath para uma inst&acirc;ncia. Os padr&otilde;es s&atilde;o definidos no n&iacute;vel da aplica&ccedil;&atilde;o. Alterar o Tipo desta m&aacute;quina n&atilde;o far&aacute; com que automaticamente as inst&acirc;ncias atualizem o seu Caminho e as configura&ccedil;&otilde;es do OutputPath. As novas configura&ccedil;&otilde;es podem ser configurados na p&aacute;gina Applications.</p>
  <p>Selecione o novo tipo de servidor: <webobject name = "HostTypePopup" /> <webobject name = "HostConfigureButton" /></p>
  </webobject>
</div>
<div class = "Box HostSynchronizeBox">
  <h2>Sincronizar Servidor "<webobject name = "HostName" />"</h2>
   <webobject name = "HostSyncForm">
    <p>Se este servidor est&aacute; se comportando estranhamente, &eacute; poss&iacute;vel que as informa&ccedil;&otilde;es de configura&ccedil;&atilde;o do servidor est&aacute; fora de sincronia com o resto do seu site ou Monitor. Clique no bot&atilde;o para tentar ressincronizar informa&ccedil;&otilde;es de configura&ccedil;&atilde;o.</p>
    <p><webobject name = "HostSyncButton" /></p>
  </webobject>
</div>
</webobject>