<webobject name = "PageWrapper">
  <webobject name = "RequiredWrapper">
    <webobject name = "InnerWrapper">
      <webobject name = "SectionsContents">
        <webobject name = "SectionWrapper">
          <webobject name = "EntitiesRepetition">
            <webobject name = "HasSectionName"> <webobject name = "SectionLabel" /> </webobject>
            <webobject name = "QueryForm">
              <webobject name = "LineDiv">
                <div class = "LineInner">
                  <div class = "QueryAllQuery">
                    <span class = "LabelWrapper QueryAllLabelWrapper">
                      <span class = "Label QueryAllLabel"><webobject name = "EntityName" /></span>
                    </span>
                    <span class = "AttrVal QueryAllAttrVal"><webobject name = "QueryAnyField" /></span>
                  </div>
                  <ul class = "ObjActionList QueryAllActions">
                    <li><webobject name = "SearchButton" /></li>
                    <li><webobject name = "AdvancedQuery" /></li>
                    <webobject name = "ShowNewObjectButton">
                    <li><webobject name = "NewObjectButton" /></li>
                    </webobject>
                  </ul>
                </div>
              </webobject>
            </webobject>
          </webobject>
        </webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>