<webobject name = "NavPage">
<div class="Box HostListBox">
<h2 class="SectionHeading">Servidores</h2>
  <table>
    <tr>
      <th>Nome servidor</th>
      <th>Dispon&iacute;vel*</th>
      <th>Tipo do Servidor</th>
      <th>Inst&acirc;ncias Rodando</th>
      <th>Descrição do Processador</th>
      <th>OS / Plataforma</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <webobject name = "HostsRepetition">
      <tr>
        <td>
               <webobject name = "HostName" /> /
             <webobject name = "HostAddress" />
        </td>
        <td class="HostAvailability">
          <webobject name = "HostIsAvailable">
              SIM | <webobject name = "wotaskdLink">Ver Configura&ccedil;&atilde;o</webobject>
          </webobject>
          <webobject name = "HostIsNOTAvailable">
            <span class="HostNotAvailable">N&Atilde;O</span>
          </webobject>
        </td>
        <td><webobject name = "HostType" /></td>
        <td><webobject name = "InstanceCount" /></td>
        <td><webobject name = "ProcessorDescription" /></td>
        <td><webobject name = "HostOSName" /></td>
        <td>
          <webobject name = "ConfigureHostLink"><span>Configura&ccedil;&atilde;o</span></webobject>
        </td>
        <td>
          <webobject name = "RemoveHostLink"><span>Apagar</span></webobject>
        </td>
      </tr>
    </webobject>
  </table>
</div>
<div class="Box AddHostBox">
  <webobject name = "AddHostForm">
    Adicionar Servidor: <webobject name = "HostNameTextField" /> do tipo: <webobject name = "PopUpButton1" /> <webobject name = "AddHostSubmitButton" />
  </webobject>
  <div class="Notes">
  	<h4>Notas</h4>
    <ul>
    	<li>Servidores podem ser adicionados tanto como hostnames ou endereços IP**</li>
    	<li>* A servidor est&aacute; dispon&iacute;vel se ele estiver executando o <b> wotaskd </b> serviço/daemon.</li>
    	<li>** Se "localhost" ou "127.0.0.1" é um servidor ele deve ser o <b>&uacute;nico</b> servidor.</li>
    </ul>
  </div>
</div>
</webobject>