<webobject name = "NavPage">
<div class="Box HostListBox">
<h2 class="SectionHeading">Servidor</h2>
  <table>
    <tr>
      <th>Host name</th>
      <th>Available*</th>
      <th>Host Type</th>
      <th>Running Instances</th>
      <th>Processor Description</th>
      <th>OS / Platform</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <webobject name = "HostsRepetition">
      <tr>
        <td>
               <webobject name = "HostName" /> /
             <webobject name = "HostAddress" />
        </td>
        <td class="HostAvailability">
          <webobject name = "HostIsAvailable">
              YES | <webobject name = "wotaskdLink">View Config</webobject>
          </webobject>
          <webobject name = "HostIsNOTAvailable">
            <span class="HostNotAvailable">NO</span>
          </webobject>
        </td>
        <td><webobject name = "HostType" /></td>
        <td><webobject name = "InstanceCount" /></td>
        <td><webobject name = "ProcessorDescription" /></td>
        <td><webobject name = "HostOSName" /></td>
        <td>
          <webobject name = "ConfigureHostLink"><span>Configure</span></webobject>
        </td>
        <td>
          <webobject name = "RemoveHostLink"><span>Delete</span></webobject>
        </td>
      </tr>
    </webobject>
  </table>
</div>
<div class="Box AddHostBox">
  <webobject name = "AddHostForm">
    Add Host: <webobject name = "HostNameTextField" /> of type: <webobject name = "PopUpButton1" /> <webobject name = "AddHostSubmitButton" />
  </webobject>
  <div class="Notes">
  	<h4>Notes</h4>
    <ul>
    	<li>Hosts may be added as either hostnames or IP addresses**</li>
    	<li>* A host is available if it is running the <b>wotaskd</b> service/daemon.</li>
    	<li>** If "localhost" or "127.0.0.1" is a host, it must be the <b>only</b> host.</li>
    </ul>
  </div>
</div>
</webobject>