<webobject name = "IsRefreshEnabled">
  <webobject name = "Refresh"></webobject>
</webobject>
<webobject name = "NavPage">
<webobject name = "AddHasNOHostsConditional">
<div class="Box ErrorBox">
  <h3>N&atilde;o h&aacute; servidores configurados.</h3>
  <p>Por favor <webobject name = "AddHostsLink">adicionar servidores</webobject> antes de adicionar as inst&acirc;ncias.</p>
</div>
</webobject>
<div class="Box ApplicationDetailsBox">
  <h2 class="SectionHeading">
    <webobject name = "AppIsRunning">
      <webobject name = "AppLink">
        <webobject name = "AppName"></webobject>
      </webobject>
    </webobject>
    <webobject name = "AppIsNOTRunning">
      <webobject name = "AppName"></webobject>
    </webobject>
  </h2>
<webobject name = "IsRefreshEnabled">
    <p>Esta p&aacute;gina atualiza automaticamente a cada <webobject name = "RefreshRate"></webobject> segundos.</p>
</webobject>
<webobject name = "HasBouncer"><div>Bouncer: <webobject name = "Bouncer"/></div></webobject>
<p><webobject name = "RefreshLink">Atualizar</webobject> | 
	<webobject name = "ShowDetailStatistics">
		<webobject name="ShowStatistics">Ocultar Estat&iacute;sticas</webobject>
		<webobject name="NotShowStatistics">Mostrar Estat&iacute;sticas</webobject>
    </webobject></p>

<span class="error"><webobject name = "MessageString"></webobject>
</span>
<table>
  <tr>
    <th>Selecione</th>
    <th>Nome</th>
    <th>Servidor: Porta</th>
    <th>Status</th>
    <th>Iniciar - Parar</th>
    <th>Recupera&ccedil;&atilde;o Autom&aacute;tica</th>
    <th>Recusar Novas Sess&otilde;es</th>
    <th>Agendado</th>
    <th>Pr&oacute;ximo desligamento</th>
	<th>Mortes</th>
    <webobject name = "ShowStatistics">
	    <th>Transa&ccedil;&otilde;es</th>
	    <th>Sess&otilde;es Ativas</th>
	    <th>Transa&ccedil;&otilde;es M&eacute;dias</th>
	    <th>Per&iacute;odo de Inatividade M&eacute;dia</th>
   </webobject><webobject name = "ShowWOStats">
 		<th>WOStats</th>
	</webobject>
    <th>Configurar</th>
    <th>Apagar</th>
  </tr>
  <tr>
     </tr>
  <webobject name = "InstanceRepetition">
    <tr>
<!-- Selection -->
	<td class="InstanceSelect"><webobject name = "SelectOneForm"><webobject name = "Observer"><webobject name = "IsSelected"/></webobject></webobject></td>

<!--       Instance Number       -->
      <td>
        <webobject name = "InstanceRunningConditional">
          <webobject name = "InstAdaptorLink">
            <webobject name = "InstIndex"></webobject>
          </webobject>
        </webobject>
        <webobject name = "InstanceNOTRunningConditional">
          <webobject name = "InstIndex"></webobject>
        </webobject>
      </td>
<!--       Host - Port       -->
      <td class="InstanceHostPort">
          <webobject name = "InstanceRunningConditional">
            <webobject name = "InstDirectLink">
              <webobject name = "InstRunningOnHost"></webobject>
            </webobject>
          </webobject>
          <webobject name = "InstanceNOTRunningConditional">
            <webobject name = "InstRunningOnHost"></webobject>
          </webobject>
      </td>
<!--       Status (On/Off/Starting/Stopping)       -->
      <td class="InstanceStatusColumn">
        <webobject name = "InstStatusImage"></webobject>
      </td>
<!--       Start/Stop Buttons       -->
      <td class="InstanceStartStop">
      	<div class="Balls">
        <webobject name = "StartInstanceLink"><webobject name = "StartImage"></webobject></webobject>
        &nbsp;
        <webobject name = "StopInstanceLink"><webobject name = "StopImage"></webobject></webobject>
        </div>
      </td>
<!--       Auto-Recover       -->
      <td class="InstanceAutoRecover">
        <webobject name = "IFSchedulingIsOn">
          <div class="AppControl AppControlAutoRecoverSchedulingOn">Ligado</div>
        </webobject>
        <webobject name = "IFSchedulingIsOff">
          <webobject name = "ToggleAutoRecoverLink"><webobject name="AutoRecoverDiv"><webobject name="AutoRecoverLabel"/></webobject></webobject>
        </webobject>
      </td>
<!--       Refuse New Sessions       -->
      <td class="InstanceRefuseNewSessions">
        <webobject name = "IFSchedulingIsOn">
          <webobject name="RefuseNewSessionsDiv"><webobject name="RefuseNewSessionsLabel"/></webobject>
        </webobject>
        <webobject name = "IFSchedulingIsOff">
          <webobject name = "InstanceRunningConditional">
            <webobject name = "ToggleRefuseNewSessionsLink">
              <webobject name="RefuseNewSessionsDiv"><webobject name="RefuseNewSessionsLabel"/></webobject>
            </webobject>
          </webobject>
          <webobject name = "InstanceNOTRunningConditional">
            <div class="AppControl AppControlOff">Desligado</div>
          </webobject>
        </webobject>
      </td>
<!--       Schedule       -->
      <td class="InstanceSchedule">
        <webobject name = "ToggleSchedulingLink">
        	<webobject name="ScheduleDiv"><webobject name="ScheduleLabel"/></webobject>
        </webobject>
      </td>
<!--       Next Scheduled Shutdown       -->
      <td class="NextShutDown">
        <webobject name = "NextShutdown"></webobject>
      </td>
      <td>
        <webobject name = "ShouldDisplayDeathDetailLink">
          <span class="Deaths"><webobject name = "InstDeathCount"></webobject></span>
          <webobject name = "InstDeathDetailLink">
            (Detalhes)
          </webobject>
        </webobject>
        <webobject name = "ShouldNOTDisplayDeathDetailLink">-</webobject>
      </td>
<!--       Statistics       -->
      <webobject name = "ShowStatistics"><td>
        <webobject name = "InstTransactions"></webobject>
      </td>
      <td>
        <webobject name = "InstActiveSessions"></webobject>
      </td>
      <td>
        <webobject name = "InstAverageTransaction"></webobject>
      </td>
      <td>
        <webobject name = "InstAverageIdle"></webobject>
      </td>
    </webobject>
    <webobject name = "ShowWOStats">
      <td class="InstanceWOStats">
        <webobject name = "InstanceRunningConditional">
          <webobject name = "LinkToWOStats"><span>WOStats</span></webobject>
        </webobject>
        <webobject name = "InstanceNOTRunningConditional"><div class="WOStatsOff">Desligado</div></webobject>
      </td>
      </webobject>
<!--       Configure       -->
      <td>
        <webobject name = "InstConfigureLink">Configurar</webobject>
      </td>
<!--       Delete       -->
      <td>
        <webobject name = "InstDeleteLink">Apagar</webobject>
      </td>
    </tr>
  </webobject>
  <webobject name = "HasInstancesConditional">
    <webobject name = "ShowStatistics">
    <tr class="SpacerTableRow">
      <td colSpan = "16">&nbsp</td>
    </tr>
    </webobject>
 	<webobject name = "ShowWOStats">
    <tr class="SpacerTableRow">
      <td colSpan = "13">&nbsp</td>
    </tr>
    </webobject>
    <tr>
	<td class="AllSelect">
		<strong>Selecione</strong><br />
		<webobject name = "SelectAllLink">Todos</webobject> | <webobject name = "SelectNoneLink">Nenhum</webobject>
	</td>
      <td class="AllFilter" colSpan = "3">
         <b>Selecione todas as inst&acirc;ncias que s&atilde;o:</b><br /><webobject name = "SelectRunning">Rodando</webobject> | <webobject name = "SelectNotRunning">N&atilde;o Est&atilde;o Rodando</webobject>
      </td>
<!--       Start / Stop All       -->
      <td class="AllStartStop">
      	<div class="Balls">
        <webobject name = "StartAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "StopAllLink"><webobject name = "StopImage"/></webobject>
        </div>
      </td>
<!--       AutoRecover All      -->
      <td class="AllAutoRecover">
      	<div class="Balls">
        <webobject name = "AutoRecoverEnableAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "AutoRecoverDisableAllLink"><webobject name = "StopImage"/></webobject>
      	</div>
      </td>
<!--       Refuse New Sessions All       -->
      <td class="AllRefuseNewSessions">
      	<div class="Balls">
        <webobject name = "RefuseNewSessionsAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "AcceptNewSessionsAllLink"><webobject name = "StopImage"/></webobject>
        </div>
      </td>
<!--       Scheduling All       -->
      <td class="AllScheduling">
      	<div class="Balls">
        <webobject name = "SchedulingEnableAllLink"><webobject name = "StartImage"/></webobject>
        &nbsp;
        <webobject name = "SchedulingDisableAllLink"><webobject name = "StopImage"/></webobject>
        </div>
      </td>
<!--       Next Scheduled Shutdown       -->
      <td class="AllBounce"><webobject name = "BounceLink">Bounce</webobject>&nbsp;<webobject name = "BounceHelpLink"><webobject name="HelpImage"/></webobject></td>
      <td class="AllClearDeaths"><webobject name = "ClearDeathsLink">Limpar Mortes</webobject></td>
<!--       Statistics All       -->
   <webobject name = "ShowStatistics">
      <td>
        <webobject name = "TotalTransactions"></webobject>
      </td>
      <td>
        <webobject name = "TotalActiveSessions"></webobject>
      </td>
      <td>
        <webobject name = "TotalAverageTransaction"></webobject>
      </td>
      <td>
        <webobject name = "TotalAverageIdleTime"></webobject>
      </td>
    </webobject>
    <webobject name = "ShowWOStats">
      <td>
        <webobject name = "ActualRatePerMinute"></webobject>
        TPM      </td>
   </webobject>
<!--       Configure       -->
      <td>
        <webobject name = "ConfigureLink"><span>Configurar</span></webobject></td>
      <td><webobject name = "InstDeleteAllLink"><span>Apagar</span></webobject></td>
    </tr>
  </webobject>
</table>
</div>
<webobject name = "AddHasHostsConditional">
<div class="Box AddInstanceBox">
  <webobject name = "AddInstanceForm">
   	Adicionar: <webobject name = "AddNumInstances"></webobject> inst&acirc;ncia(s) no servidor: <webobject name = "AddHostPopUp"/> <webobject name = "AddInstanceSubmitButton"/>
  </webobject>
</div>
</webobject>
</webobject>
