<webobject name="SingleHostConditional"><webobject name="Refresh" /></webobject>
<webobject name="NavPage">
<div class="Box PathWizardPage1Box">
<webobject name="SingleHostConditional">
	<p>Por favor aguarde enquanto buscamos a lista de arquivos...</p>
</webobject>
<webobject name="MultipleHostsConditional">
  <p>Escolha o servidor no qual voc&ecirc; gostaria de selecionar um caminho:</p>
  <ul>
  <webobject name="HostRepetition"><li><webobject name="HostLink"><webobject name="HostName" /></webobject></li></webobject>
  </ul>
</webobject>
<webobject name="NoHostsConditional">
  <p>N&atilde;o h&aacute; servidores configurados.</p>
  <p>Por favor  <webobject name="AddHostsLink">adicionar servidores</webobject> antes de usar o PathWizard.</p>
</webobject>
</div>
</webobject>