<webobject name = "NavPage">
<div class="Box ApplicationNameBox">
    <h1>Configurando Inst&acirc;ncia "<webobject name = "InstName" />" em <webobject name = "String1" /></h1>
    <div class="DetailViewButtonWrapper">
  		<webobject name="ReturnLink">Vis&atilde;o Detalhada</webobject>
  	</div>
  	<div class="TextBox">
	<p>A Inst&acirc;ncia deve ser reiniciado para que as altera&ccedil;&otilde;es entrem em vigor.</p>
	<p class="Comment">(As altera&ccedil;&otilde;es nessas configura&ccedil;&otilde;es afetam apenas esta inst&acirc;ncia, para todas as inst&acirc;ncias, use o <webobject name = "AppConfigureLink">P&aacute;gina de Configurar Aplica&ccedil;&atilde;o</webobject>)</p>
	</div>
</div>
<div class="Box InstanceSettingsBox">
	<h2 class="SectionHeading">Configura&ccedil;&otilde;es de Inst&acirc;ncia</h2>
        <webobject name = "ArgumentsForm">
          <table class="FormFieldTable">
            <tr><th>Porta:</th>
              <td><webobject name = "Port" /> <span class="Comment">(A inst&acirc;ncia deve ser desligada para alterar essa configura&ccedil;&atilde;o)</span></td>
            </tr>
            <tr><th>ID:</th>
              <td><webobject name = "TextField1" /></td>
            </tr>
            <webobject name = "isWindowsHost">
              <tr><th>&nbsp;</th>
                <td><p class="Comment"><b>Nota:</b> Essa inst&acirc;ncia &eacute; em um Microsoft Windows servidor. A letra do drive (por exemplo, &quot;D:&quot;) pode ser necess&aacute;ria para criar um caminho v&aacute;lido.</p></td>
              </tr>
            </webobject>
            <tr>
              <th><webobject name = "pathDiff" />Caminho*:</th>
              <td><div class="PathPicker"><div class="PathPickInner"><webobject name = "Path" /></div><webobject name = "PathPickerWizardLink"><span>Escolha...</span></webobject></div></td>
            </tr>
            <tr>
              <th><webobject name = "minDiff" />Sess&otilde;es Ativas M&iacute;nimas: </th>
              <td><webobject name = "TextField2" /></td>
            </tr>
            <tr>
              <th><webobject name = "cachingDiff" />Caching habilitado:</th>
              <td><webobject name = "Caching" /></td>
            </tr>
            <tr>
              <th><webobject name = "outputDiff" />Caminho de Sa&iacute;da:</th>
              <td><div class="PathPicker"><div class="PathPickInner"><webobject name = "OutputPath" /></div><webobject name = "PathPickerWizardLink2"><span>Escolha...</span></webobject></div></td>
            </tr>
            <tr>
              <th><webobject name = "browserDiff" />Auto Abrir no Navegadorr:</th>
              <td><webobject name = "CheckBox2" /></td>
            </tr>
            <tr>
              <th><webobject name = "debugDiff" />Debugging habilitado:</th>
              <td><webobject name = "DebuggingEnabled" /></td>
            </tr>
            <tr>
              <th><webobject name = "lifebeatDiff" />Intervalo Lifebeat:</th>
              <td><webobject name = "TextField3" /></td>
            </tr>
            <tr>
              <th valign = "TOP">
                <webobject name = "argsDiff" />
                Argumentos
                <br />
                adicionais:
              </th>
              <td>
                <webobject name = "AdditionalArguments" />
              </td>
            </tr>
          </table>
          <p>* O caminho do execut&aacute;vel (dentro do diret&oacute;rio '.woa'). <span  class = "Warning">**</span> Configura&ccedil;&otilde;es diverge da configura&ccedil;&atilde;o do n&iacute;vel da Aplica&ccedil;&atilde;o.</p>
          <p><webobject name = "InstanceSettingsSubmit" /></p>
          <p>Com as configura&ccedil;&otilde;es atuais, esta inst&acirc;ncia ser&aacute; iniciada com os seguintes argumentos:</p>
		  <div class="CurrentParameters"><code><webobject name = "CommandLineString" /></code></div>
        </webobject>
</div>
<div class="Box AdaptorSettingsBox">
	<h2 class="SectionHeading">Configura&ccedil;&otilde;es Adaptador</h2>
        <webobject name = "AdaptorSettingsForm">
          <table class="FormFieldTable">
            <tr>
              <th>Tempo limite de Envio:</th>
              <td><webobject name = "SendTimeoutField" /></td>
            </tr>
            <tr>
              <th>Tempo limite de Recebimento:</th>
              <td><webobject name = "ReceiveTimeoutField" /></td>
            </tr>
            <tr>
              <th>Tempo limite de Conectar:</th>
              <td><webobject name = "ConnectTimeoutField" /></td>
            </tr>
            <tr>
              <th>Tamanho do Buffer de Envio:</th>
              <td><webobject name = "PoolsizeField" /></td>
            </tr>
            <tr>
              <th>Tamanho do Buffer de Recebimento:</th>
              <td><webobject name = "TextField4" /></td>
            </tr>
          </table>
          <p><webobject name = "UpdateAdaptorButton" /></p>
        </webobject>
</div>
<div class="Box ForceQuitBox">
<h2 class="SectionHeading">For&ccedil;ar Sa&iacute;da</h2>
          <p>Ao clicar neste bot&atilde;o ir&aacute; for&ccedil;ar o encerramento desta inst&acirc;ncia.</p>
          <p>A inst&acirc;ncia n&atilde;o far&aacute; nenhum tratamento de erro, nem vai tentar terminar o processamento de solicita&ccedil;&otilde;es em andamento.</p>
          <p>A inst&acirc;ncia deve sair dentro de <webobject name = "lifebeatIntervalString" /> segundos.</p>
        <webobject name = "ForceQuitForm">
          <p><webobject name = "ForceQuitButton" /></p>
        </webobject>
        <p class="Comment"><!--Isso s&oacute; funciona em aplica&ccedil;&otilde;es 5.2 ou acima.  --></p>
</div>
</webobject>