<webobject name=NavPage>
<p class="Warning" style="text-align: center;">AVISO - FORMUL&Aacute;RIO MISTERIOSO: Eu n&atilde;o sei o que essa coisa faz. Se voc&ecirc; sabe o que isso faz, por favor, adicione uma sinopse aqui descrevendo a sua fun&ccedil;&atilde;o.</p>
<div class="Box MigrationBox">
<h2 class="SectionHeader">WebObjects Migra&ccedil;&atilde;o de Aplica&ccedil;&otilde;es de Deployment</h2>
<p>Visualize seu arquivo http-webobjects.conf para seu Apache 2.x WebServer:</p> 
<pre><code><webobject name="adaptorConfigContent"></webobject></code></pre>
</div>
<div class="Box MigrationBox">
<h2 class="SectionHeader">Forne&ccedil;a sua configura&ccedil;&atilde;o Apache 2.x WebServer</h2>
<p></p>
<webobject name="Form2">
	<table class="FormFieldTable">
		<tr><th>Servidor:</th><td colspan="2"><webobject name="TextField3"></webobject></td></tr>
		<tr><th>Usu&aacute;rio:</th><td colspan="2"><webobject name="TextField1"></webobject></td></tr>
		<tr><th>Arquivo de identifica&ccedil;&atilde;o SSH:</th><td><webobject name="FileUpload1"></webobject></td>
			<td><p class="Comment">Por favor forne&ccedil;a um arquivo identifica&ccedil;&atilde;o SSH v&aacute;lido para JavaMonitor para o scp enviar o http-webobjects.conf em seu servidor Apache 2.x WebServer. <a href="">Obtenha ajuda com a geração de arquivo de identificação SSH</a></p></td></tr>
		<tr><th>http-webobjects.conf caminho de arquivo</th><td><webobject name="TextField4"></webobject></td>
			<td><p class="Comment">Por favor forne&ccedil;a um local no WebServer onde JavaMonitor para transferir o arquivo http-webobjects.conf.</p></td></tr>
		<tr><th>Reiniciar o Apache WebServer</th><td colspan="2"><webobject name="CheckBox1"></webobject></td></tr>
	</table>
	<p><webobject name="ResetButton1"></webobject> | <webobject name="MigrateButton"></webobject></p>
</webobject>
<br/>
<webobject name="IsMigrationCompleted"><b>JavaMonitor migrou seus deployment das Aplica&ccedil;&otilde;es WebObjects com sucesso.</b></webobject>
<webobject name="NotIsMigrationCompleted">
	<webobject name="IsFailed">JavaMonitor n&atilde;o p&ocirc;de migrar seus deployment das Aplica&ccedil;&otilde;es WebObjects. <webobject name="Text2"></webobject></webobject>
</webobject>
</div>
</webobject>