<webobject name="NavPage">
<div class="Box HelpContent">
<h1><a name="00">Ajuda</a></h1>
<ul>
<li><a href="#01"><b>O que s&atilde;o Monitor e wotaskd?</b></a></li>
<li><a href="#02"><b>Qual é a diferença entre<code>http://host:2001/cgi-bin/WebObjects/MyApp.woa</code>, <code>http://host/cgi-bin/WebObjects/MyApp.woa</code>, e <code>http://host/cgi-bin/WebObjects/MyApp.woa/-2001</code> ?</b></a></li>
<li><a href="#03"><b>O que s&atilde;o Load-balancing?</b></a></li>
<li><a href="#04"><b>Como fa&ccedil;o para configurar um aplica&ccedil;&atilde;o para Deployment atrav&eacute;s do servidor Web usando o Monitor?</b></a></li>
<li><a href="#05"><b>Como fa&ccedil;o para configurar uma aplica&ccedil;&atilde;o para o Desenvolvimento atrav&eacute;s do servidor Web?</b></a></li>
<li><a href="#06"><b>Quais as configura&ccedil;&otilde;es do adaptador HTTP existem?</b></a></li>
<li><a href="#07"><b>Como &eacute; que o adaptador HTTP encontra inst&acirc;ncias?</b></a></li>
<li><a href="#08"><b>Como fa&ccedil;o para encontrar as URLs do servidor Web para inst&acirc;ncias de Desenvolvimento, se eu n&atilde;o sei a porta?</b></a></li>
<li><a href="#09"><b>Como &eacute; que wotaskd sabe se uma inst&acirc;ncia est&aacute; viva?</b></a></li>
<li><a href="#10"><b>Como &eacute; que wotaskd controlar inst&acirc;ncias?</b></a></li>
<li><a href="#11"><b>Como posso saber se wotaskd est&aacute; rodando?</b></a></li>
<li><a href="#12"><b>Como posso evitar que &quot;falsas&quot; mortes de inst&acirc;ncia sejam relatadas no Monitor?</b></a></li>
<li><a href="#13"><b>Quais deployment relacionadas a Flags existem?</b></a></li>
<li><a href="#14"><b>Como fa&ccedil;o para rodar m&uacute;ltiplas wotaskds em um servidor?</b></a></li>
<li><a href="#15"><b>Quais os padr&otilde;es de inst&acirc;ncia e configura&ccedil;&otilde;es est&atilde;o dispon&iacute;veis atrav&eacute;s do Monitor?</b></a></li>
<li><a href="#16"><b>Quais as configura&ccedil;&otilde;es do aplicativo est&atilde;o dispon&iacute;veis atrav&eacute;s do Monitor?</b></a></li>
<li><a href="#17"><b>O que &eacute; Agendamento Inst&acirc;ncia?</b></a></li>
<li><a href="#18"><b>O que significa fazer um &quot;Bounce&quot; para uma Aplica&ccedil;&atilde;o?</b></a></li>
<li><a href="#19"><b>P&aacute;gina Servidores do Monitor</b></a></li>
<li><a href="#20"><b>P&aacute;gina Vis&atilde;o Detalhada do Monitor</b></a></li>
<li><a href="#21"><b>Deployment FAQ</b></a></li>
</ul>

<p>&nbsp;</p>
<hr size=5>
<p>&nbsp;</p>

<p><a name="01"><font size="+2"><b>O que s&atilde;o Monitor e wotaskd?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Monitor e wotaskd fazem parte das estrat&eacute;gias 
    de implanta&ccedil;&atilde;o do WebObjects. Cada m&aacute;quina que est&aacute; rodando uma
aplica&ccedil;&atilde;o WebObjects deve ter um WebObjects Task Daemon
(wotaskd) rodando nele. Para configurar esses aplicativos para deployment,
 a aplica&ccedil;&atilde;o Monitor deve estar rodando, mas uma vez configurado,
  somente os wotaskds precisam permanecer rodando. 
  Cada wotaskd s&oacute; &eacute; respons&aacute;vel por todas as aplica&ccedil;&otilde;es WebObjects
rodando no mesmo servidor. O adaptador do servidor Web (ou WebObjects adaptador HTTP)
se comunica com os wotaskds em cada host para descobrir 
quais aplicativos WebObjects est&atilde;o dispon&iacute;veis.
  Inst&acirc;ncias comunicam seu estado ao wotaskd
atrav&eacute;s da utiliza&ccedil;&atilde;o de lifebeats TCP, enquanto o wotaskd
controles inst&acirc;ncias atrav&eacute;s DirectActions especiais.</p>
    <p><b>Monitor DEVE estar rodando a partir de uma m&aacute;quina que &eacute; ao mesmo tempo
execu&ccedil;&atilde;o wotaskd e &eacute; um servidor &quot;gerenciado&quot;. </b></p>
    <p><b>NUNCA rode mais de um Monitor para um conjunto de Servidores.</b></p>
    <p><b>SEMPRE execute o Monitor e wotaskd atr&aacute;s de um firewall.</b></p>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="02"><font size="+2"><b>Qual é a diferença entre
<code>http://host:2001/cgi-bin/WebObjects/MyApp.woa</code>,
<code>http://host/cgi-bin/WebObjects/MyApp.woa</code>,
 e <code>http://host/cgi-bin/WebObjects/MyApp.woa/-2001</code> ?</b></a><br />
</p>

<blockquote>
   A aplica&ccedil;&atilde;o WebObjects pode ser acessada de 3 maneiras: <br />
    O primeiro (<code>http://host:2001/cgi-bin/WebObjects/MyApp.woa</code>) &eacute; Direct Connect. <br />
    O segundo (<code>http://host/cgi-bin/WebObjects/MyApp.woa</code>) &eacute; por meio do servidor Web como uma aplica&ccedil;&atilde;o de Deployment.<br />
    O terceiro (<code>http://host/cgi-bin/WebObjects/MyApp.woa/-2001</code>) &eacute; por meio do servidor Web como uma aplica&ccedil;&atilde;o de Desenvolvimento.<br />
    <br />
    <ul>
        <li>No Direct Connect, o navegador est&aacute; enviando solicita&ccedil;&otilde;es e recebendo respostas directamente da aplica&ccedil;&atilde;o, o servidor Web n&atilde;o est&aacute; envolvido em tudo. Recursos para a aplica&ccedil;&atilde;o (imagens, etc) s&atilde;o servidos pelo pr&oacute;pria aplica&ccedil;&atilde;o. O navegador est&aacute; conectado diretamente &agrave; porta (2001 no exemplo URL) do aplicativo. Para usar uma aplica&ccedil;&atilde;o no Direct Connect n&atilde;o necessita o uso de wotaskd ou Monitor. </li>
        <li>Ao acessar um aplica&ccedil;&atilde;o de Deployment atrav&eacute;s do servidor Web, o navegador envia uma solicita&ccedil;&atilde;o para o servidor Web (geralmente a porta 80).
         	O servidor Web fornece o pedido para o adaptador HTTP WebObjects, que passa para a aplica&ccedil;&atilde;o.
         	A resposta do aplica&ccedil;&atilde;o &eacute; retornado para o adaptador, que d&aacute; para o servidor Web, que envia para o navegador.
         	Recursos para a aplica&ccedil;&atilde;o (imagens, etc) s&atilde;o servidos pelo servidor Web, o que requer uma instala&ccedil;&atilde;o dividida.
         	Acessando uma aplica&ccedil;&atilde;o atrav&eacute;s do adaptador oferece v&aacute;rios benef&iacute;cios: Pooling de conex&otilde;es, verifica&ccedil;&atilde;o de pedidos, servindo de recursos e balanceamento de carga entre v&aacute;rias inst&acirc;ncias.
            Normalmente, os aplica&ccedil;&otilde;es s&atilde;o deployed atrav&eacute;s do servidor Web por raz&otilde;es de seguran&ccedil;a e desempenho. Deploying uma aplica&ccedil;&atilde;o utilizando Monitor e wotaskd &eacute; descrito abaixo.</li>
        <li>Acessar um aplicativo de Desenvolvimento atrav&eacute;s do servidor Web &eacute; semelhante ao acessar um aplicativo Deployment, exceto pelo fato de Load-balancing entre as inst&acirc;ncias n&atilde;o ocorre. Aplica&ccedil;&otilde;es de Desenvolvimento tornam poss&iacute;vel testar um aplica&ccedil;&atilde;o por meio do servidor Web sem deploying ele plenamente. Acessar um aplica&ccedil;&atilde;o do Desenvolvedor &eacute; descrito abaixo.</li>
    </ul>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="03"><font size="+2"><b>O que s&atilde;o Load-balancing?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Pedidos para uma aplica&ccedil;&atilde;o atrav&eacute;s do servidor Web s&atilde;o load-balanced
pelo adaptador. No load-balancing, se o pedido n&atilde;o for
direcionada a uma inst&acirc;ncia espec&iacute;fica de uma aplica&ccedil;&atilde;o, ele &eacute; atribu&iacute;do a um
inst&acirc;ncia da aplica&ccedil;&atilde;o escolhida pelo adaptador. Load-balancing leva
lugar entre as inst&acirc;ncias com o mesmo nome (cf <code> WOApplicationName </code>).
    O esquema padr&atilde;o do load-balancing &eacute; Round Robin,
mas outros esquemas de load-balancing est&atilde;o dispon&iacute;veis. Round Robin
distribui um pedido de inst&acirc;ncias, um ap&oacute;s outro. Load Average
tenta balanceamento de carga para as inst&acirc;ncias por igualmente
distribuir as sess&otilde;es entre inst&acirc;ncias.
Se estiver usando o esquema do load-balancing Aleat&oacute;rios, uma inst&acirc;ncia &eacute; escolhido arbitrariamente.</p>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="04"><font size="+2"><b>Como fa&ccedil;o para configurar um aplica&ccedil;&atilde;o para Deployment atrav&eacute;s do servidor Web usando o Monitor?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <ol>
        <li>Certifique-se que as aplica&ccedil;&otilde;es foram divididos-instalado.
		(A c&oacute;pia do diret&oacute;rio WebServerResources deve estar localizado no diret&oacute;rio raiz do servidor Web no caminho:
	    <code>/WebObjects/MyApp.woa/Contents/WebServerResources</code>).</li>
        <li>Iniciar Monitor (localizado em $NEXT_ROOT/Library/WebObjects/JavaApplications).</li>
        <li>V&aacute; para a p&aacute;gina Servidores.</li>
        <li>Adicione o servidor que a aplica&ccedil;&atilde;o WebObjects se encontra.</li>
        <li>Vá para a página do Site.</li>
        <li>Defina a URL adaptador HTTP para a URL adaptador do servidor Web.</li>
        <li>Ir para a p&aacute;gina de Aplica&ccedil;&otilde;es.</li>
        <li>Digite o nome da aplica&ccedil;&atilde;o e clique em Adicionar.
O nome do aplicativo &eacute; o nome que o
adaptadores do servidor da Web usam acessar a aplica&ccedil;&atilde;o. o
nome n&atilde;o tem que coincidir com o nome real do
aplica&ccedil;&atilde;o.</li>
        <li>Na p&aacute;gina Configurar Aplica&ccedil;&atilde;o, escolher o caminho para
             a aplica&ccedil;&atilde;o e quaisquer outros padr&otilde;es.</li>
        <li>Vis&atilde;o Detalhada</li>
        <li>Adicione inst&acirc;ncias sobre os servidores. Por padr&atilde;o, eles ser&atilde;o
             recuperado automaticamente, e come&ccedil;ar&aacute; logo ap&oacute;s ser
             adicionado. Se eles n&atilde;o s&atilde;o auto-recuperado, clique no
             bot&atilde;o verde na coluna &quot;Start-Stop&quot; para
             iniciar as inst&acirc;ncias.</li>
        <li>Inst&acirc;ncias rodando s&atilde;o agora acess&iacute;veis atrav&eacute;s do
servidor Web.</li>
    </ol>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="05"><font size="+2"><b>HComo fa&ccedil;o para configurar uma aplica&ccedil;&atilde;o para o Desenvolvimento atrav&eacute;s do servidor Web?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <ol>
        <li>Inst&acirc;ncias de desenvolvedor s&atilde;o inst&acirc;ncias que n&atilde;o s&atilde;o
 configurados atrav&eacute;s Monito/ wotaskd. Eles s&atilde;o
 tipicamente inst&acirc;ncias que est&atilde;o apenas iniciado manualmente
 por um desenvolvedor (&agrave; m&atilde;o ou atrav&eacute;s de
 Project Builder) para fins de teste. wotaskd deve
 automaticamente pegar a exist&ecirc;ncia da inst&acirc;ncia
 e relat&aacute;-lo ao adaptador de HTTP, o inst&acirc;ncia &eacute;
 em seguida, acess&iacute;vel atrav&eacute;s do servidor Web local para
 teste. Inst&acirc;ncias n&atilde;o registrados n&atilde;o s&atilde;o load-balanced
 pelo adaptador. Inst&acirc;ncias n&atilde;o registrados podem ser
 acessados ​​somente atrav&eacute;s do servidor Web local; servidores Web
 em outras m&aacute;quinas n&atilde;o vai v&ecirc;-los.</li>
        <li>Certifique-se que as aplica&ccedil;&otilde;es foram divididos-instalado
             (o WebServerResources est&atilde;o localizados no documento raiz do servidor Web).</li>
        <li>Inicie a aplica&ccedil;&atilde;o e observe a porta que est&aacute;
sendo rodando. <code>-WOPort</code> pode ser usado para definir a porta, e
            <code>-WOApplicationName</code> pode ser usado para definir o nome da aplica&ccedil;&atilde;o
             para o adaptador do servidor Web.</li>
        <li>Para acessar inst&acirc;ncias n&atilde;o registradas, a URL &eacute;: <blockquote>
                <p><code>http://localhost/cgi-bin/WebObjects/&lt;app
                name&gt;.woa/&lt;negative port number&gt;</code></p>
            </blockquote>
        </li>
    </ol>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="06"><font size="+2"><b>Quais as configura&ccedil;&otilde;es do adaptador HTTP existem?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
   A maioria das configura&ccedil;&otilde;es do adaptador pode ser definidas globalmente, em uma base por aplicativo, e em uma base por inst&acirc;ncia. Ao enviar informa&ccedil;&otilde;es de configura&ccedil;&atilde;o para o adaptador HTTP, Monitor primeiro verifica se a inst&acirc;ncia tem um valor definido. Se isso n&atilde;o acontecer, ele verifica se o aplicativo tem um valor definido. Se isso n&atilde;o acontecer, ele verifica se h&aacute; configura&ccedil;&otilde;es globais. Se n&atilde;o houver configura&ccedil;&otilde;es globais, que ir&aacute; permitir que o adaptador HTTP para us&aacute;-lo pr&oacute;prios padr&otilde;es.<br />
    <dl>
        <dt>Load Balancing </dt>
        <dd>O esquema de load-balancing que o adaptador HTTP
deve usar para inst&acirc;ncias desta aplica&ccedil;&atilde;o.
As op&ccedil;&otilde;es padr&atilde;o s&atilde;o aleat&oacute;rios, Round Robin, e Load Average.
Um nome de load-balancer personalizado tamb&eacute;m pode ser passado para o
Adaptador HTTP. </dd>
        <dt>Tentativas </dt>
        <dd>O n&uacute;mero de vezes que um request &eacute; repetida se a
falha de comunica&ccedil;&atilde;o ocorre antes de uma p&aacute;gina de erro &eacute;
retornado. </dd>
        <dt>Redirecionamento de URL </dt>
        <dd>Se uma instância não responder a um pedido direto,
este é a URL para onde o cliente é redirecionado. </dd>
        <dt>Dormente </dt>
        <dd>Ap&oacute;s uma inst&acirc;ncia n&atilde;o responder, o n&uacute;mero de
vezes que o adaptador ignora essa inst&acirc;ncia antes de tentar
novamente. </dd>
        <dt>Tempo limite de Envio </dt>
        <dd>Segundos antes do adaptador desistir de tentar enviar dados para uma inst&acirc;ncia. </dd>
        <dt>Tempo limite de Recebimento </dt>
        <dd>Segundos antes de o adaptador desiste de esperar uma resposta da inst&acirc;ncia. </dd>
        <dt>Tempo limite de Conectar </dt>
        <dd>Segundos antes de o adaptador desiste de conectar a uma inst&acirc;ncia. </dd>
        <dt>Tamanho do Buffer de Envio </dt>
        <dd>Tamanho do buffer de envio TCP sobre  a conex&atilde;o com a inst&acirc;ncia do adaptador HTTP. </dd>
        <dt>Tamanho do Buffer de Recebimento </dt>
        <dd>Tamanho do buffer de recebimento TCP sobre  a conex&atilde;o com a inst&acirc;ncia do adaptador HTTP. </dd>
        <dt>Tamanho do Pool de Conex&otilde;es </dt>
        <dd>O n&uacute;mero m&aacute;ximo de conex&otilde;es simult&acirc;neas processando um adaptador espec&iacute;fico deve manter em aberto a cada inst&acirc;ncia configurada. </dd>
        <dt>Versão URL </dt>
        <dd>Qual vers&atilde;o URL WebObjects do aplicativo responde.
Todos os WebObjects 4, 4,5 e 5 aplica&ccedil;&otilde;es utilizam a vers&atilde;o 4 URLs por padr&atilde;o. </dd>
    </dl>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="07"><font size="+2"><b>Como &eacute; que o adaptador HTTP encontra inst&acirc;ncias?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <dl>
        <dt>O adaptador HTTP (ou servidor Web) encontra inst&acirc;ncias atrav&eacute;s de um dos 3 mecanismos: Multicast, Lista de Servidor ou Arquivo.
         Por padr&atilde;o, os adaptadores s&atilde;o configurados para usar um Lista de Servidor de <code> http://localhost:1085 </code>, e wotaskds que n&atilde;o respondem ao multicast.
         Configura&ccedil;&atilde;o dos v&aacute;rios adaptadores HTTP &eacute; espec&iacute;fico da plataforma, e &eacute; abordado na documenta&ccedil;&atilde;o do adaptador. <br />
         NOTA: se alterar a configura&ccedil;&atilde;o para apache ou adaptadores cgi apague o arquivo WOAdaptorState, normalmente localizado em /tmp/, antes de iniciar o servidor Web novamente.</dt>
    </dl>
    <p>No Multicast, o adaptador transmite um request UDP ao longo de sua sub-rede. wotaskds que recebem a solicitação de responder com suas URLs de configuração. Uma vez que a lista de URLs configuração é recolhida, recursos de configuração como na lista de hosts. wotaskds não respondem às transmissões multicast por padrão. O estilo de configuração é </p>
    <blockquote>
        <p><code>webobjects://&lt;multicast address&gt;:&lt;port&gt;&nbsp;&lt;request
        interval&gt;</code></p>
    </blockquote>
    <p>Na Lista de Servidor, o adaptador requests um arquivo de configura&ccedil;&atilde;o de cada servidor na Lista de Servidor.
     O arquivo XML fornece uma lista de aplica&ccedil;&otilde;es rodando e inst&acirc;ncias nesse wotaskd.
     O formato de configura&ccedil;&atilde;o &eacute; </p>
    <blockquote>
        <p><code>http://&lt;hostname&gt;:&lt;port&gt;,http://&lt;hostname&gt;:&lt;port&gt;,&lt;etc...&gt;&nbsp;&lt;request
        interval&gt;</code><br />
        <br />
        Lista de Servidor é o modo de configuração padrão, definido para </p>
        <blockquote>
            <p><code>http://localhost:1085 10&quot;</code></p>
        </blockquote>
    </blockquote>
    <p>No Arquivo de configura&ccedil;&atilde;o, o adaptador l&ecirc; um arquivo XML no sistema de arquivos local, que descreve as configura&ccedil;&otilde;es de aplicativos e inst&acirc;ncia. O formato de configura&ccedil;&atilde;o &eacute; </p>
    <blockquote>
        <p><code>file://&lt;path to WOConfig.xml&gt;&nbsp;&lt;request
        interval&gt;</code></p>
    </blockquote>
    <p>&nbsp;</p>
    <p><b>WOConfig.xml DTD</b><br />
    </p>
    <pre>&lt;?xml version=&quot;1.0&quot; encoding=&quot;ASCII&quot;?&gt;

&lt;!ELEMENT adaptor (application)*&gt;
        &lt;!ELEMENT application (instance)*&gt;
                &lt;!ATTLIST application
                        name CDATA #REQUIRED
                        retries CDATA #IMPLIED
                        scheduler ( &quot;RANDOM&quot; | &quot;ROUNDROBIN&quot; | &quot;LOADAVERAGE&quot;
                                    | &lt;!-- Custom Scheduler Name --&gt; ) #IMPLIED
                        dormant CDATA #IMPLIED
                        protocol &quot;http&quot; #IMPLIED
                        redir CDATA #IMPLIED
                        poolsize CDATA #IMPLIED
                        urlVersion ( &quot;3&quot; | &quot;4&quot; ) #IMPLIED
                        additionalArgs CDATA #IMPLIED&gt;
                &lt;!ELEMENT instance&gt;
                        &lt;!ATTLIST instance
                                id CDATA #REQUIRED
                                port CDATA #REQUIRED
                                host CDATA #REQUIRED
                                sendTimeout CDATA #IMPLIED
                                recvTimeout CDATA #IMPLIED
                                cnctTimeout CDATA #IMPLIED
                                sendBufSize CDATA #IMPLIED
                                recvBufSize CDATA #IMPLIED
                                additionalArgs CDATA #IMPLIED&gt;
</pre>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="08"><font size="+2"><b>Como fa&ccedil;o para encontrar as URLs do servidor Web para inst&acirc;ncias de Desenvolvimento, se eu n&atilde;o sei a porta?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Os Adaptadores podem ser configurados para exibir uma p&aacute;gina de informa&ccedil;&otilde;es, quando solicitado. A URL &eacute; tipicamente algo como</p>
    <blockquote>
        <p><font face="Times New Roman"><code>http://localhost/cgi-bin/WebObjects/WOAdaptorInfo</code></font>
        </p>
    </blockquote>
    <p>Um nome de usu&aacute;rio e senha podem tamb&eacute;m ser necess&aacute;ria: </p>
    <blockquote>
        <p><font face="Times New Roman"><code>http://localhost/cgi-bin/WebObjects/WOAdaptorInfo?user=u&amp;password=p</code></font></p>
    </blockquote>
    <p>Configura&ccedil;&atilde;o dos adaptadores do servidor Web &eacute; espec&iacute;fico de plataforma, e &eacute; coberto pela documenta&ccedil;&atilde;o do adaptador.</p>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="09"><font size="+2"><b>Como &eacute; que wotaskd sabe se uma inst&acirc;ncia est&aacute; viva?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Inst&acirc;ncias de atualizam seus status com o seu wotaskd pelo uso de lifebeats.
    Lifebeats s&atilde;o enviados atrav&eacute;s de uma conex&atilde;o TCP/IP, e s&atilde;o enviados a cada 30 segundos por padr&atilde;o.
    wotaskd considera uma inst&acirc;ncia &quot;morta&quot; quando ele n&atilde;o conseguiu enviar um lifebeat por 120 segundos (por padr&atilde;o).
As inst&acirc;ncias tamb&eacute;m pode notificar wotaskd de queda iminente ou parada manual enviando queda ou mensagens de parada.
Lifebeats s&atilde;o enviados a partir uma thread separada, e n&atilde;o deve interferir ou ser afectado pelo o processamento normal de request.
	</p>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="10"><font size="+2"><b>Como &eacute; que wotaskd controlar inst&acirc;ncias?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Cada wotaskd comunica com e controla os suas inst&acirc;ncias, atrav&eacute;s da utiliza&ccedil;&atilde;o de DirectActions especiais.
    Existe uma RequestHandler para cada aplica&ccedil;&atilde;o, registrado sob a tecla &quot;womp&quot; que lida com esses DirectActions administrativos.
    Para evitar wotaskd de administrar uma aplica&ccedil;&atilde;o, invocar o m&eacute;todo a seguir em seu construtor de subclasse WOApplication:</p>
    <blockquote>
        <p><code>removeRequestHandlerForKey(&quot;womp&quot;);</code></p>
    </blockquote>
    <p>DirectActions administrativos normalmente n&atilde;o s&atilde;o contabilizados nas estat&iacute;sticas da inst&acirc;ncia, para cont&aacute;-los, programaticamente invocada </p>
    <blockquote>
        <p><code>requestHandlerForKey(&quot;womp&quot;).shouldAddToStatistics = true;</code></p>
    </blockquote>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="11"><font size="+2"><b>Como posso saber se wotaskd est&aacute; rodando?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Existem dois m&eacute;todos para descobrir se wotaskd est&aacute; sendo executado em um host particular.
    A primeira &eacute; usar a p&aacute;gina de Hosts em Monitor.
    A segunda &eacute; para abrir um navegador e verifique a URL:
</p>
    <blockquote>
        <p><font face="Times New Roman"><code>http://&lt;host&gt;:1085/cgi-bin/WebObjects/wotaskd.woa/wa/woconfig</code></font></p>
    </blockquote>
    <p>deve retornar um arquivo XML com a configuração atual, se wotaskd está funcionando. </p>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="12"><font size="+2"><b>Como posso evitar que &quot;falsas&quot; mortes de inst&acirc;ncia sejam relatadas no Monitor?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    Se wotaskd n&atilde;o receber um lifebeat de uma inst&acirc;ncia para um determinado per&iacute;odo de tempo, ele marca essa inst&acirc;ncia como morto.
    Durante os per&iacute;odos de alta carga, existem v&aacute;rias configura&ccedil;&otilde;es que afetam o seguinte:<br />
    <ol>
    <li>N&atilde;o deixe o Monitor na p&aacute;gina Vis&amp;atilde;o Detalhada com Auto Refresh ativo. Isso pode ser configurado na p&aacute;gina de Prefer&ecirc;ncias do Monitor</li>
    <li>Altere o intervalo de configuração padrão para o adaptador HTTP a partir de 10 segundos para algo maior, como 30 segundos. (configuração do adaptador é uma plataforma especifica, consulte a documentação do adaptador para mais detalhes).</li>
    <li>Altere o intervalo lifebeat padr&atilde;o para as inst&acirc;ncias de 30 segundos para algo maior, como 60 segundos. Isso pode ser feito na p&aacute;gina Configurar Aplica&ccedil;&atilde;o ou as p&aacute;ginas Configurar a Inst&acirc;ncia em Monitor.</li>
    <li>Alterar <code> WOAssumeAppIsDeadMultiplier </code> do padr&atilde;o de 4 a algo maior, como 6. Esta &eacute; um flag de linha de comando para wotaskd passou a inicializa&ccedil;&atilde;o.</li>
    </ol>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="13"><font size="+2"><b> Quais deployment relacionadas a argumentos existem?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Flags podem ser passados ​​para um aplicativo na linha de comando (<code>-WODefaultName Value</code>),
    ou pode ser definido em um arquivo nomeado <code>Properties</code>
    no diret&oacute;rio do aplicativo (normalmente <code>AppName.woa/Contents/Resources/Properties</code>).
    O arquivo Properties deve estar no formato Java (1 par de chave-valor um por linha, com o formato a ser<code>chave=valor</code> -
    use <code>true</code> ou <code>false</code>, e não <code>YES</code> ou <code>NO</code>).</p>
    <dl>
        <dt><b>Padr&otilde;es espec&iacute;ficos Monitor e wotaskd</b><br />
            </dt>
        <dd><dl>
                <dt>WODeploymentConfigurationDirectory </dt>
                <dd>Cada wotaskd escreve sua configura&ccedil;&atilde;o atual no disco sempre que uma altera&ccedil;&atilde;o &eacute; feita.
Ele grava o arquivo SiteConfig.xml no diret&oacute;rio especificado por esse padr&atilde;o.
O valor padr&atilde;o para isso &eacute; <code>$LOCAL_ROOT/Library/WebObjects/Configuration/</code>.
                    Isto, juntamente com <code>-WOLifebeatDestinationPort</code>,
                    permite a execu&ccedil;&atilde;o de v&aacute;rios wotaskds em uma &uacute;nica m&aacute;quina.
Este diret&oacute;rio &eacute; tamb&eacute;m onde wotaskd escreve seu arquivo configura&ccedil;&atilde;o do adaptador
(<code>WOConfig.xml</code>) se for solicitado. </dd>
            </dl>
            <p><br />
            </p>
        </dd>
        <dt><b>padrões específicos do wotaskd</b><br />
            </dt>
        <dd><dl>
                <dt>WORespondsToMulticastQuery </dt>
                <dd>Controla se um determinado wotaskd deve responder a consultas multicast de configura&ccedil;&atilde;o do adaptador HTTP.
                O padr&atilde;o &eacute; <code>false</code>. </dd>
                <dt>WOSavesAdaptorConfiguration </dt>
                <dd>Controla se um determinado wotaskd deve escrever um arquivo de configura&ccedil;&atilde;o do adaptador HTTP (<code>WOConfig.xml</code>)
                    no disco. O padrão é <code>false</code>. </dd>
                <dt>WOMulticastAddress </dt>
                <dd>Permite aos usu&aacute;rios especificar um endere&ccedil;o de multicast diferente para wotaskd esperar consultas sobre multicast.
                O padr&atilde;o &eacute; <code>239.128.14.2</code>
                </dd>
                <dt>WOAssumeApplicationIsDeadMultiplier </dt>
                <dd>Permite aos usu&aacute;rios especificar a quantidade de tempo que wotaskd espera por um lifebeat ausente antes de marcar uma inst&acirc;ncia como morta.
                Ele especifica um multiplicador contra a <code>WOLifebeatInterval</code>,
                falha para 4x (para o intervalo padr&atilde;o seria 120 segundos). </dd>
                <!--<dt>WOShouldUseSpawn </dt>
                <dd>Controls whether wotaskd should start
                    instances using a system-specific launcher;
                    this allows for starting applications in the
                    background, as well as circumventing Windows-specific
                    issues with launch output. Defaults to <code>true</code>. </dd>-->
            </dl>
            <p><br />
            </p>
        </dd>
        <dt><b>Padr&otilde;es de Aplica&ccedil;&atilde;o Gerais</b><br />
            </dt>
        <dd><dl>
                <dt>WOMonitorEnabled </dt>
                <dd>Determina se a inst&acirc;ncia est&aacute; sendo monitorado por um wotaskd.
Monitor define isso para <code>true</code> automaticamente quando se inicia uma inst&acirc;ncia.
Normalmente o padr&atilde;o &eacute; <code>false</code>. </dd>
                <dt>WOLifebeatDestinationPort </dt>
                <dd>Define a porta que os lifebeats para onde devem ser enviados.
De modo mais geral, esta &eacute; a porta que est&aacute; rodando no wotaskd;
Monitor deve usar esse padr&atilde;o se wotaskd est&aacute; sendo executado em uma porta diferente de <code>1085</code>. Padr&atilde;o &eacute; <code>1085</code>,
e &eacute; definida automaticamente para qualquer inst&acirc;ncia iniciado por wotaskd.</dd>
                <dt>WOLifebeatEnabled </dt>
                <dd>Determina se a inst&acirc;ncia deve enviar lifebeats ou n&atilde;o.
                Padr&atilde;o &eacute; <code>true</code>, mas falha ap&oacute;s cinco tentativas consecutivas para enviar um lifebeat.
                Automaticamente definido para qualquer inst&acirc;ncia iniciado por wotaskd. </dd>
                <dt>WOOutputPath </dt>
                <dd>Permite a sa&iacute;da para uma inst&acirc;ncia para ser redirecionado para o arquivo especificado por esse padr&atilde;o.
                Definindo o caminho para <code>/dev/null</code>
                    faz com que o pedido engula a sua sa&iacute;da.
                    Caso contr&aacute;rio, isso implica que todas as sa&iacute;das devem ser escritos em um arquivo especificado.
                    Se o arquivo n&atilde;o existir, ou n&atilde;o pode ser escrito, tratar como <code> /dev/null </code>.
                    Padr&atilde;o &eacute; nada (sa&iacute;da &eacute; gerada normalmente).</dd>
                <dt>WOLifebeatInterval </dt>
                <dd>Permite aos usu&aacute;rios definir o tempo entre lifebeats enviados para wotaskd.
                O padr&atilde;o &eacute; <code>30</code> segundos.</dd>
                <dt>WOApplicationName </dt>
                <dd>Permite wotaskd definir o valor de <code>Application.name()</code>,
                para registrar corretamente lifebeats.
                O adaptador s&oacute; vai balancear a carga entre as inst&acirc;ncias com o mesmo nome;
                assim <code>WOApplicationName</code> pode ser usado para criar &quot;grupos&quot; de inst&acirc;ncias, mesmo que as inst&acirc;ncias tenham o mesmo nome do execut&aacute;vel.
                Padr&atilde;o &eacute; o nome do execut&aacute;vel. Automaticamente definido para inst&acirc;ncias iniciados por wotaskd. </dd>
                <dt>WOHost</dt>
                <dd>Permite que as aplica&ccedil;&otilde;es especificar qual interface de rede devem ligar quando estiver rodando.
                Esta op&ccedil;&atilde;o s&oacute; deve ser usado em servidores com m&uacute;ltiplas interfaces de rede (endere&ccedil;os IP).
                Automaticamente definido para inst&acirc;ncias iniciados por wotaskd.
                Assim, esta propriedade deve ser definida apenas para wotaskd e Monitor.</dd>
            </dl>
        </dd>
    </dl>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="14"><font size="+2"><b>Como fa&ccedil;o para rodar m&uacute;ltiplas wotaskds em um servidor?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<ul>
    <li>wotaskd precisa ser iniciado com <code>-WOPort &lt;newPort&gt;</code>
        e <code>-WODeploymentConfigurationDirectory &lt;path&gt;</code> </li>
    <li>Monitor precisa ser iniciado com <code>-WOLifebeatDestinationPort
        &lt;newPort&gt;</code> e <code>-WODeploymentConfigurationDirectory &lt;path&gt;</code> </li>
    <li>Inst&acirc;ncias monitorados pelo wotaskd precisa ser iniciado com <code>-WOLifebeatDestinationPort &lt;newPort&gt;</code>. 
    Isto ser&aacute; feito automaticamente se a inst&acirc;ncia &eacute; iniciada por wotaskd.</li>
</ul>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="15"><font size="+2"><b>Quais os padr&otilde;es de inst&acirc;ncia e configura&ccedil;&otilde;es est&atilde;o dispon&iacute;veis atrav&eacute;s do Monitor?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <dl>
        <dt>Caminho </dt>
        <dd>O caminho para o execut&aacute;vel da aplica&ccedil;&atilde;o - este deve ser o caminho completo para o execut&aacute;vel dentro do diret&oacute;rio '.woa'.
        H&aacute; tr&ecirc;s caminhos padr&atilde;o: MacOSX, Windows e Unix (cf P&aacute;gina Servidores).
        Quando uma inst&acirc;ncia &eacute; criada, ela escolhe o caminho apropriado para o tipo de Servidor est&aacute; ligado.
		Sem Padr&atilde;o.</dd>
        <dt>Auto Recuperar </dt>
        <dd>Se a inst&acirc;ncia trava ou &eacute; desligado, o Monitor reinicia-a.
        Monitor tamb&eacute;m come&ccedil;a a inst&acirc;ncia na inicializa&ccedil;&atilde;o.
        Esta defini&ccedil;&atilde;o n&atilde;o se aplica &agrave;s inst&acirc;ncias agendados.
        Padr&atilde;o &eacute; <code>true</code>. </dd>
        <dt>Sess&otilde;es Ativas M&iacute;nimas </dt>
        <dd>Se uma inst&acirc;ncia est&aacute; configurado para Recusar Novas Sess&otilde;es,
        a inst&acirc;ncia sai quando o n&uacute;mero de sess&otilde;es &eacute; menor ou igual a este n&uacute;mero.
        Padr&atilde;o &eacute; <code>0</code>. </dd>
        <dt>Caching Habilitado </dt>
        <dd>Determina se o caching de componente est&aacute; habilitado. <code>-WOCachingEnabled</code>.
            Padr&atilde;o &eacute; <code>true</code>. </dd>
        <dt>Debugging Habilitado </dt>
        <dd>&Eacute; a sa&iacute;da de debugging habilitada.
        Para aplica&ccedil;&otilde;es WebObjects 5.x,
        esta &eacute; equivalente &agrave; configura&ccedil;&atilde;o Debug N&iacute;vel para pelo menos Informativo,
        e adicionando o Grupo Debug WebObjects. <code>-WODebuggingEnabled</code>.
	    Padr&atilde;o &eacute; <code>false</code>. </dd>
        <dt>OutputPath </dt>
        <dd>Sa&iacute;da da inst&acirc;ncia pode ser redirecionado para um arquivo no disco. (cf Caminho para obter explica&ccedil;&otilde;es sobre MacOSX/Windows/Unix).
        Deve ser o caminho para um diret&oacute;rio - cada inst&acirc;ncia tem automaticamente o arquivo de sa&iacute;da definido para 'AppName-ID'.
            <code>-WOOutputPath</code>. Padr&atilde;o &eacute; nada; sa&iacute;da n&atilde;o &eacute; salvo. </dd>
        <dt>Auto Abrir no Navegador e Auto Abrir Aplica&ccedil;&atilde;o Cliente </dt>
        <dd>Quando uma inst&acirc;ncia &eacute; iniciada, ele deve abrir automaticamente um navegador para sua p&aacute;gina principal.
        Aplica&ccedil;&otilde;es JavaClient abrir&aacute; automaticamente um aplicativo cliente. <code>-WOAutoOpenInBrowser</code>
	    e <code>-WOAutoOpenClientApplication</code>.
            Padr&atilde;o &eacute; <code>false</code>. </dd>
        <dt>Intervalo Lifebeat </dt>
        <dd>Quantas vezes deve lifebeats ser enviado de volta para wotaskd/Monitor.
            <code>-WOLifebeatInterval</code>. Padr&atilde;o &eacute; <code>30</code>, normalmente n&atilde;o deve ser alterado. </dd>
        <dt>Argumentos Adicionais </dt>
        <dd>Estes s&atilde;o argumentos adicionais passados ​​para as inst&acirc;ncias na inicializa&ccedil;&atilde;o.
        NOTA: Para passar propriedades Java que cont&ecirc;m espa&ccedil;os, use <code>&quot;-Dchave=valor&quot;</code> (incluindo aspas).</dd>
    </dl>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="16"><font size="+2"><b>Quais as configura&ccedil;&otilde;es do aplicativo est&atilde;o dispon&iacute;veis atrav&eacute;s do Monitor?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <dl>
        <dt>Nome </dt>
        <dd>Nomes de aplica&ccedil;&atilde;o podem conter apenas caracteres alfanum&eacute;ricos ('-' e '.' tamb&eacute;m s&atilde;o permitidos).
         O nome da aplica&ccedil;&atilde;o no Monitor n&atilde;o precisa coincidir com o nome do execut&aacute;vel da aplica&ccedil;&atilde;o real.
         Load-balancing no adaptador ocorre entre inst&acirc;ncias que t&ecirc;m o mesmo nome em wotaskd.
            (cf <code>WOApplicationName</code>). </dd>
        <dt>Iniciando Porta </dt>
        <dd>Novas inst&acirc;ncias s&atilde;o atribu&iacute;das ao pr&oacute;ximo n&uacute;mero de porta mais alto do que a porta de partida que n&atilde;o entra em conflito com outra inst&acirc;ncia (a partir de qualquer aplicativo).
        O n&uacute;mero da porta tamb&eacute;m pode ser definido em uma inst&acirc;ncia de inst&acirc;ncia base.
         Padr&atilde;o &eacute; <code>2001</code>. </dd>
        <dt>Tempo Permitido para Inicializa&ccedil;&atilde;o </dt>
        <dd>A quantidade de tempo que o o Monitor espera por uma inst&acirc;ncia para come&ccedil;ar antes de decidir se a inst&acirc;ncia n&atilde;o p&ocirc;de ser iniciada.
        Padr&atilde;o &eacute; <code>30</code> seconds. </dd>
        <dt>Inicializa&ccedil;&atilde;o Faseada: </dt>
        <dd>Ap&oacute;s lan&ccedil;amento wotaskd, inicia-se inst&acirc;ncias de auto-recupera&ccedil;&atilde;o dessa aplica&ccedil;&atilde;o, um de cada vez, em vez de todos de uma vez.
        Padr&atilde;o &eacute; <code>false</code>. </dd>
        <dt>Adaptador </dt>
        <dd>O adaptador padr&atilde;o de uma inst&acirc;ncia devem usar.
        Isso &eacute; <i>n&atilde;o</i> o adaptador HTTP usado pelo servidor Web,
        mas sim o objeto interno que distribui as conex&otilde;es com WOWorkerThreads.
        Padr&atilde;o &eacute; <code>WODefaultAdaptor</code>, e normalmente n&atilde;o deve ser mudado.
            <code>-WODefaultAdaptor</code>. </dd>
        <dt>Threads do Adaptador M&iacute;nimas </dt>
        <dd>O n&uacute;mero inicial de WorkerThreads o WODefaultAdaptor deve criar para tratar requests recebidos.
        Esta defini&ccedil;&atilde;o aplica-se ao WODefaultAdaptor para WebObjects 5.x.
	    <code>-WOWorkerThreadCountMin</code>. Padr&atilde;o &eacute; <code>16</code>.
        </dd>
        <dt>Threads do Adaptador M&aacute;ximo </dt>
        <dd>O n&uacute;mero m&aacute;ximo de WorkerThreads que o adaptador padr&atilde;o deve criar para tratar requests de entrada.
		Como a carga sobre uma inst&acirc;ncia do aplica&ccedil;&atilde;o cresce, o WODefaultAdaptor criar&aacute; novas WorkerThreads para lidar com requests.
		Esta defini&ccedil;&atilde;o aplica-se apenas ao WODefaultAdaptor para WebObjects 5.x.
        Configurando para -1 vai deixar o n&uacute;mero de WorkerThreads crescer indefinidamente.
	    <code>-WOWorkerThreadCountMax</code>. Padr&atilde;o &eacute; <code>256</code>.
        </dd>
        <dt>Threads do Adaptador </dt>
        <dd>O n&uacute;mero de WorkerThreads que o adaptador padr&atilde;o deve criar para tratar requests de entrada. 
        Esta defini&ccedil;&atilde;o aplica-se apenas ao WODefaultAdaptor para WebObjects 4.5.x.
	    Isso est&aacute; DEPRECATED para WebObjects 5.x aplica&ccedil;&otilde;es.
	    <code>-WOWorkerThreadCount</code>. Padr&atilde;o &eacute; <code>8</code>.
        </dd>
        <dt>Tamanho da Fila de Escuta </dt>
        <dd>O n&uacute;mero de conex&otilde;es de entrada n&atilde;o tratadas que uma inst&acirc;ncia pode ter. <code>-WOListenQueueSize</code>. Padr&atilde;o &eacute;
            <code>128</code>. </dd>
    </dl>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="17"><font size="+2"><b>O que &eacute; Agendamento Inst&acirc;ncia?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Cada inst&acirc;ncia pode ser agendado de forma independente usando a p&aacute;gina Configurar Aplica&ccedil;&atilde;o.
    Durante agendamento uma inst&acirc;ncia &eacute; reiniciado em intervalos regulares.<br />
    </p>
    <dl>
        <dt>Agendamento Gracioso </dt>
        <dd>Se uma inst&acirc;ncia &eacute; graciosamente agendado, ao inv&eacute;s de desligar imediatamente, ele recusa novas sess&otilde;es.
		Sess&otilde;es existentes continuar como normal.
		Uma vez que o n&uacute;mero de sess&otilde;es ativas cai para a Contagem Sess&atilde;o Ativa M&iacute;nima (geralmente 0), a inst&acirc;ncia &eacute; reiniciado.
		Se esta op&ccedil;&atilde;o n&atilde;o estiver selecionada, e a inst&acirc;ncia for reiniciada no hor&aacute;rio agendado, terminando as sess&otilde;es ativas.</dd>
        <dt>Agendamento por Hora </dt>
        <dd>A inst&acirc;ncia &eacute; reiniciado sempre X horas, com os c&aacute;lculos a partir de Y horas.
        (Ex. a cada 6 horas, a partir das 03:00 significa que a inst&acirc;ncia seria reiniciar a 03:00, 09:00, 15:00, 09:00 todos os dias). </dd>
        <dt>Agendamento Diário </dt>
        <dd>A inst&acirc;ncia &eacute; reiniciado em X horas em todos os dias. (Ex. &agrave;s 03:00 todos os dias). </dd>
        <dt>Agendamento Semanal </dt>
        <dd>A inst&acirc;ncia &eacute; reiniciado no X Horas, em um determinado dia a cada semana. (Ex. Todos os domingos &agrave;s 03:00).
        </dd>
    </dl>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="18"><font size="+2"><b>O que significa fazer um &quot;Bounce&quot; para uma Aplica&ccedil;&atilde;o?</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>&quot;Bounce&quot; reiniciar uma aplica&ccedil;&atilde;o graciosamente.
    Ele faz isso come&ccedil;ando pelo menos uma inst&acirc;ncia inativa por servidor ativo (ou 10% do total da contagem de inst&acirc;ncia ativa),
     esperando at&eacute; que eles iniciam, ent&atilde;o, recusando-se sess&otilde;es para todas as inst&acirc;ncias antigas e transformando o&nbsp;agendamento em para todos,
     mas o n&uacute;mero de inst&acirc;ncias que come&ccedil;ou originalmente.
     O pr&oacute;ximo efeito deve ser que os novos usu&aacute;rios a obter a nova aplica&ccedil;&atilde;o,
     inst&acirc;ncias velhos morrem no devido tempo e em seguida reiniciando quando as sess&otilde;es pararem.<br/>
 Voc&ecirc; deve ter pelo menos uma inst&acirc;ncia inativa a fim de realizar um salto gracioso.<br/>
 Voc&ecirc; pode ou n&atilde;o ser necess&aacute;rio definir ERKillTimer impedir totalmente
&nbsp; sess&otilde;es de longa dura&ccedil;&atilde;o para manter o aplicativo de morrer.
    </p>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="19"><font size="+2"><b>P&aacute;gina Servidores do Monitor</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>Um servidor est&aacute; dispon&iacute;vel apenas se estiver rodando um daemon wotaskd do protocolo correto (WebObjects 5.x).
    Se estiver dispon&iacute;vel, clique no SIM hiperlink exibe a configura&ccedil;&atilde;o atual desse servidor, incluindo seu SiteConfig,
    op&ccedil;&otilde;es de inicializa&ccedil;&atilde;o, e sua resposta a v&aacute;rias solicita&ccedil;&otilde;es do servidor HTTP.<br />
    </p>
    <dl>
        <dt>Adicionar Servidor </dt>
        <dd>Servidores podem ser adicionados por hostname curto, hostname totalmente qualificado, ou endereço de IP.
        Servidores podem ser adicionados de tipo MacOSX, Windows, Unix (isto é usado para determinar o tipo de Caminho e caminho de saída escolhida por uma Instância do servidor). </dd>
    </dl>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="20"><font size="+2"><b>P&aacute;gina Vis&atilde;o Detalhada do Monitor</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <p>A P&aacute;gina Vis&atilde;o Detalhada pode ser configurado para atualizar em intervalos regulares, ou n&atilde;o para todos, na p&aacute;gina de Prefer&ecirc;ncias.
    O padr&atilde;o &eacute; para atualizar a p&aacute;gina a cada 60 segundos.
    A p&aacute;gina tamb&eacute;m pode ser atualizada manualmente clicando em Atualizar Agora.<br />
    Hyperlinks para inst&acirc;ncias ativas s&atilde;o geradas usando o adaptador URL HTTP da p&aacute;gina de Configura&ccedil;&atilde;o do Site. <br />
    </p>
    <dl>
        <dt>Nome da Aplica&ccedil;&atilde;o </dt>
        <dd>Se todas as inst&acirc;ncias dessa aplica&ccedil;&atilde;o est&atilde;o ligadas, este &eacute; um link para a URL da aplica&ccedil;&atilde;o,
         usando o adaptador URL HTTP a partir da p&aacute;gina do Site.
        Se a URL adaptador Http n&atilde;o est&aacute; definido, http://localhost/cgi-bin/WebObjects &eacute; usado.
        O request &eacute; load balanced. </dd>
        <dt>Cada inst&acirc;ncia tem as seguintes telas: </dt>
        <dd><dl>
                <dt>Nome-ID </dt>
                <dd>Se a inst&acirc;ncia estiver ativa, este &eacute; um link para essa inst&acirc;ncia atrav&eacute;s do adaptador HTTP.
                Se o URL adaptador n&atilde;o est&aacute; definido atrav&eacute;s da p&aacute;gina SiteConfigure, o padr&atilde;o &eacute; &quot;http://localhost/cgi-bin/WebObjects&quot;.
                Isto ir&aacute; abrir uma nova p&aacute;gina do navegador.
                O pedido n&atilde;o &eacute; load balanced atrav&eacute;s dos adaptadores, ele &eacute; enviado diretamente &agrave; inst&acirc;ncia. </dd>
                <dt>Servidor-Porta </dt>
                <dd>Se a inst&acirc;ncia estiver ativa, este &eacute; um link para a inst&acirc;ncia no modo &quot;Direct Connect&quot;, e n&atilde;o atrav&eacute;s do servidor web.
                Isto ir&aacute; abrir uma nova p&aacute;gina do navegador. </dd>
                <dt>Status </dt>
                <dd>Verde &eacute; Ligado, Vermelho &eacute; Desligado, Sweeping Up est&aacute; ligando e Sweeping Down est&aacute; desligar. </dd>
                <dt>Iniciar-Parar </dt>
                <dd>Clique no bot&atilde;o Verde para come&ccedil;ar, o bot&atilde;o Vermelho para parar a inst&acirc;ncia. </dd>
                <dt>Auto-Recupera&ccedil;&atilde;o </dt>
                <dd>&Eacute; a inst&acirc;ncia configurada para Auto-Recupera&ccedil;&atilde;o; clicando altera&ccedil;&otilde;es do estado.
                Inst&acirc;ncias agendadas s&atilde;o sempre auto-recuper&aacute;veis, e vai mostrar um Amarelo Ligado.</dd>
                <dt>Recusando Novas Sess&otilde;es </dt>
                <dd>&Eacute; a inst&acirc;ncia Recusando Novas Sess&otilde;es; clicando altera o estado.
                Inst&acirc;ncias agendadas mostram Amarelo, e n&atilde;o pode ser controlado manualmente.</dd>
                <dt>Estado Agendamento </dt>
                <dd>&Eacute; a inst&acirc;ncia atual agendada; clicando altera o estado. </dd>
                <dt>Estat&iacute;stica </dt>
                <dd>Mostra as estat&iacute;sticas para essa inst&acirc;ncia.
                Clicando WOStats traz uma nova janela do navegador mostrando estat&iacute;sticas detalhadas.
                Mortes mostra o n&uacute;mero de mortes inesperadas para esta inst&acirc;ncia (o que n&atilde;o inclui paradas manuais ou paradas programadas).
                Clicando nos links num&eacute;ricas para uma p&aacute;gina com os tempos de cada queda. </dd>
                <dt>Configurar </dt>
                <dd>Um link para a p&aacute;gina de configura&ccedil;&atilde;o para essa inst&acirc;ncia. </dd>
                <dt>Apagar </dt>
                <dd>Apaga a inst&acirc;ncia. </dd>
            </dl>
        </dd>
        <dt>Todas as inst&acirc;ncias tamb&eacute;m podem ser controladas simultaneamente (TODAS AS INST&Acirc;NCIAS): </dt>
        <dd><dl>
                <dt>Iniciar-Parar </dt>
                <dd>Clique no bot&atilde;o Verde para iniciar todas as inst&acirc;ncias, o bot&atilde;o Vermelho para parar todas as inst&acirc;ncias. </dd>
                <dt>Auto-Recupera&ccedil;&atilde;o </dt>
                <dd>Clique no bot&atilde;o Verde para ativar todas as inst&acirc;ncias de Auto-Recupera&ccedil;&atilde;o, o bot&atilde;o Vermelho para desativar. </dd>
                <dt>Recusando Novas Sess&otilde;es </dt>
                <dd>Clique no bot&atilde;o Verde para definir todas as inst&acirc;ncias para Recusar Novas Sess&otilde;es,
                o bot&atilde;o Vermelho para permitir que todas as inst&acirc;ncias Aceitem Novas Sess&otilde;es. </dd>
                <dt>Estado Agendamento </dt>
                <dd>Clique no bot&atilde;o Verde para ativar a programa&ccedil;&atilde;o para todas as inst&acirc;ncias,
                o bot&atilde;o Vermelho para desativar a programa&ccedil;&atilde;o para todas as inst&acirc;ncias.</dd>
                <dt>Estat&iacute;stica </dt>
                <dd>Exibe o total de estat&iacute;sticas para todas as inst&acirc;ncias.
                Abaixo do bot&atilde;o WOStats &eacute; um c&aacute;lculo de transa&ccedil;&otilde;es por segundo para a aplica&ccedil;&atilde;o como um todo.
                O link Limpar Mortes ir&aacute; limpar Hist&oacute;rias de Morte para todas as inst&acirc;ncias. </dd>
                <dt>Configurar </dt>
                <dd>Um link para a p&aacute;gina de configura&ccedil;&atilde;o do aplicativo.</dd>
            </dl>
        </dd>
        <dt>Adicionar X inst&acirc;ncias para Y servidores </dt>
        <dd>Adiciona o n&uacute;mero solicitado de inst&acirc;ncias para ser executado em um determinado servidor.</dd>
    </dl>
</blockquote>

<p><br />
<br />
</p>

<hr>

<p><br />
<br />
</p>

<p><a name="21"><font size="+2"><b>Deployment FAQ</b></font></a> <a href="#00"><font size="-1">(topo)</font></a><br />
</p>

<blockquote>
    <B>P:</B> Meu aplicativo está começando no endereço de IP errado!<br />
    <B>R:</B> Usar<code>-WOHost &lt;hostname or IP address&gt;</code>.
    Isto ir&aacute; for&ccedil;ar a aplica&ccedil;&atilde;o para se ligar a um endere&ccedil;o IP espec&iacute;fico.
    Se voc&ecirc; estiver usando Monitor/wotaskd,
    certifique-se de que ambos s&atilde;o iniciados com o mesmo <code>-WOHost</code> argumento
    - wotaskd ir&aacute; certificar-se de que qualquer inst&acirc;ncia que se inicia ter&aacute; a correta <code>WOHost</code> configura&ccedil;&atilde;o. <br />
    <br />
    <B>P:</B> Quando eu rodar um aplicativo, tudo parece bem, mas nenhuma das minhas p&aacute;ginas s&atilde;o renderizadas!
    Em particular, tudo que &eacute; retornandosem o suporte da abertura (&lt;), no c&oacute;digo HTML. <br />
    <B>R:</B> Voc&ecirc; est&aacute; usando uma vers&atilde;o mais antiga do Java runtime. WebObjects requer pelo menos uma 1.3.1 runtime (tanto a VM e as bibliotecas padr&atilde;o).   <br />
    <br />
    <B>P:</B> Quando eu criar um aplicativo no Windows, e ao mov&ecirc;-lo para Solaris/MacOSX, n&atilde;o vai rodar - eu recebo um erro de permiss&atilde;o negada. <br />
    <B>R:</B> O script de inicialização provavelmente não é executável. Executar o comando
    <code>cd MyApp.woa; chmod a+x Myapp</code> corrige o problema.   <br />
    <br />
    <B>P:</B>Quando invoco <code>(Application) WOApplication.application()</code>, Eu recebo uma
	<code>java.lang.ClassCastException: com.webobjects.appserver.WOApplication</code>. <br />
    <B>R:</B> Em sua subclasse de WOApplication, voc&ecirc; deve ter as linhas: <br />
	<BLOCKQUOTE><CODE>
	public static void main(String argv[]) { <br />
	&nbsp;&nbsp;&nbsp;&nbsp;WOApplication.main(argv, Application.class); <br />
	}
	</CODE></BLOCKQUOTE>
    <br />
    <B>P:</B> Aplica&ccedil;&otilde;es n&atilde;o v&atilde;o come&ccedil;ar a partir do Monitor, mas eles parecem come&ccedil;ar OK a partir da linha de comando. <br />
    <B>R:</B> &Eacute; prov&aacute;vel que voc&ecirc; tenha um hostname definido no DNS, e tem um endere&ccedil;o de IP, mas o seu <code>/etc/hostconfig</code> lista o nome do servidor como <code>-AUTOMATIC-</code>.
    Mude <code>-AUTOMATIC-</code> para o seu hostname real. Voc&ecirc; precisa reiniciar o computador para que isso tenha efeito (embora um <code>kill -HUP</code> do inetd pode funcionar tamb&eacute;m).   <br />
    <br />
    <B>P:</B> Estou tendo problemas com o adaptador. Como posso obter mais informa&ccedil;&otilde;es sobre o que est&aacute; acontecendo? <br />
    <B>R:</B> Ativar logging do adaptador - no diretório temporário do servidor HTTP (/tmp no Solaris/MacOSX, execute <code>echo $TEMP</code> para encontr&aacute;-lo no Win2k) criar um arquivo vazio chamado
    <code>logWebObjects</code>, propriedade do root. O log do adaptador ser&aacute; criado no mesmo diret&oacute;rio, e ser&aacute; nomeado <code>WebObjects.log</code>.
    Os adaptadores n&atilde;o precisam ser reiniciado para o logging para iniciar ou parar.    <br />
    <br />
    <B>P:</B> Eu inicio uma inst&acirc;ncia da aplica&ccedil;&atilde;o do Monitor, mas o lan&ccedil;amento falha depois de 30 segundos.
    Monitor, ent&atilde;o, tenta iniciar o aplicativo novamente repetidamente, taxando recursos do sistema.
    Depois de algum tempo, as novas inst&acirc;ncias&nbsp;eventualmente morrem, e minha inst&acirc;ncia original finalmente vem &agrave; tona. <br />
    <B>R:</B> Sua aplica&ccedil;&atilde;o prov&aacute;vel demora mais do que 30 segundos para iniciar.
    No Monitor, definir Time For Startup para um n&uacute;mero maior (aproximadamente o tempo que leva para o seu aplicativo para iniciar + um pouco de margem de erro).   <br />
    <br />
    <B>P:</B> Posso usar 4.5.x e 5.x na mesma m&aacute;quina? <br />
    <B>R:</B> A implanta&ccedil;&atilde;o mista s&oacute; &eacute; suportado 4.5.1 Deployment + 5.x Deployment.
    N&atilde;o h&aacute; desenvolvimentos mistos s&atilde;o suportados.
    Al&eacute;m disso, em um Deployment 4.5.1/5.x mista, deve ser usado apenas as ferramentas 5.x (wotaskd e Monitor).  <br />
    <br />
    <B>P:</B> O que &eacute; diferen&ccedil;a entre o 4.5.1 e adaptadores 5.x HTTP? <br />
    <B>R:</B> Apenas corre&ccedil;&otilde;es de bugs.
    Em geral, os adaptadores mais recentes deverem ser utilizado, independentemente do fato de serem 4.5.1 ou 5.x.
    Note-se que vers&otilde;es do adaptador anterior a 4.5.1 (i.e. 4,5 e antes) n&atilde;o s&atilde;o compat&iacute;veis.   <br />
    <br />
    <B>P:</B> Minha aplica&amp;ccedil;&amp;atilde;o tem uma p&amp;aacute;gina que leva algum tempo para retornar.
    Eventualmente, eu recebo um mensagem &amp;quot;Nenhuma Inst&amp;acirc;ncia Dispon&amp;iacute;vel&amp;quot; - como fa&amp;ccedil;o para corrigir isso? &lt;br /&gt;
    &lt;B&gt;R:&lt;/B&gt; Voc&ecirc; pode tanto usar o Monitor para aumentar o tempo limite leitura nas configura&ccedil;&otilde;es do adaptadorpelo menos o per&iacute;odo de tempo que voc&ecirc; espera sua p&aacute;gina mais tempo para levar, ou usar um WOLongResponsePage.
    Geralmente, usando WOLongResponsePage &eacute; melhor, pois &eacute; mais flex&iacute;vel e proporciona uma melhor experi&ecirc;ncia do usu&aacute;rio. <br />
    <br />
    <B>P:</B>Minha aplica&ccedil;&atilde;o funciona bem quando eu tenho uma instala&ccedil;&atilde;o do desenvolvedor, mas n&atilde;o consigo conectar a ele quando eu tenho uma instala&ccedil;&atilde;o de deployment. <br />
    <B>R:</B> Em uma instala&ccedil;&atilde;o de deployment, <code>WODirectConnectEnabled</code> padr&atilde;o &eacute; <code>false</code>, assim voc&ecirc; n&atilde;o ser&aacute; capaz de conectar-se diretamente - apenas atrav&eacute;s do adaptador.
     Para mudar isso, iniciar o aplicativo com <code>-WODirectConnectEnabled true</code>. <br />
    <br />
    <B>P:</B> Enquanto roda a minha aplica&ccedil;&atilde;o, eventualmente congela. Antes de morrer, eu vejo os seguintes logs de debugging: <br />
    <BLOCKQUOTE><CODE>
    &lt;com.webobjects.appserver._private.WODefaultAdaptor&gt;: Growing number of WOWorkerThreads to 32 <br />
    &lt;com.webobjects.appserver._private.WODefaultAdaptor&gt;: Growing number of WOWorkerThreads to 64 <br />
    &lt;com.webobjects.appserver._private.WODefaultAdaptor&gt;: Growing number of WOWorkerThreads to 128 <br />
    &lt;com.webobjects.appserver._private.WODefaultAdaptor&gt;: Growing number of WOWorkerThreads to 256 <br />
    </CODE></BLOCKQUOTE>
    <B>R:</B> WebObjects cresce o n&uacute;mero de threads de trabalho como o n&uacute;mero de requests simult&acirc;neos aumenta.
    No entanto, se a sua aplica&ccedil;&atilde;o n&atilde;o concluir o processamento do pedido, provavelmente devido a um deadlock, os threads nunca vai terminar.
    Assim, o n&uacute;mero de threads cresce ao m&aacute;ximo permitido, e&nbsp;ent&atilde;o a aplica&ccedil;&atilde;o parece &quot;congelar&quot;.  <br />
    <br />
    <B>P:</B>Tenho certeza de que tenho um deadlock. Como fa&ccedil;o para descobrir onde? <br />
    <B>R:</B> Bzzt. Ainda n&atilde;o &eacute; uma quest&atilde;o de deployment. No MacOS X uma maneira r&aacute;pida de determinar se um impasse existe &eacute; para rodar o aplicativo no Terminal, em primeiro plano, e quando seus deadlocks da aplica&ccedil;&atilde;o, aperte <code>Control-\</code> .   <br />
    <br />
    <B>P:</B> Me Ajude! Eu n&atilde;o posso acessar a p&aacute;gina WOStats! <br />
    <B>R:</B> Voc&ecirc; pode definir a senha (o usu&aacute;rio &eacute; ignorado) como um argumento: <code>-WOStatisticsPassword myPassword</code> .   <br />
    <br />
    <B>P:</B> O que aconteceu com o banco de dados padr&atilde;o! (padr&otilde;es de escrita...) <br />
    <B>R:</B> WebObjects 5 usa <code>java.util.Properties</code>. A solu&ccedil;&atilde;o mais simples &eacute; usar arquivos de propriedades de uso. Um arquivo de propriedades &eacute; um arquivo de texto chamado &lt;code&gt; Properties&lt;/ code&gt; localizado na pasta Recursos de seu pacote WOA e/ou frameworks. Dentro do arquivo s&atilde;o <code> pares de chave=valor </code>, um em cada linha. <br />
    <br />
    <B>P:</B> Quando tento rodar qualquer WebObjects aplica&ccedil;&otilde;es 5.x no Windows, eu recebo o seguinte erro: <br />
    <BLOCKQUOTE><CODE>
    com.webobjects.foundation.NSForwardException [java.io.UnsupportedEncodingException] MacRoman
    </CODE></BLOCKQUOTE>
    <B>R:</B> Do JRE Windows Ingl&ecirc;s n&atilde;o tem todas as encodings de caracteres. Use o JRE Internacional ou do JDK em seu lugar. <br />
    <br />
    <B>P:</B> Se eu estou deploying a minha aplica&ccedil;&atilde;o em um recipiente JSP / Servlet, eu preciso wotaskd, Monitor, ou os adaptadores HTTP? Preciso ter WebObjects instalado no servidor de aplica&ccedil;&atilde;o? <br />
    <B>R:</B> Se voc&ecirc; estiver deploying em um cont&ecirc;iner JSP/ Servlet (como Tomcat ou WebLogic), voc&ecirc; n&atilde;o precisa (e n&atilde;o pode usar) wotaskd, Monitor ou os adaptadores HTTP. No entanto, WebObjects deve ser instalado no servidor de aplica&ccedil;&otilde;es. <br />
    <br />
</blockquote>
</div>
</webobject>