<webobject name = "PageWrapper">
	
  <webobject name = "Help" />
  
  <webobject name = "EditingForm">
    <webobject name = "HeaderContainer"><span><webobject name = "PageName" /></span></webobject>
    <h2 class="entity"><webobject name = "EntityName" /></h2>

	<webobject name="IsNotTab"><webobject name=InspectPageRepetition /></webobject>
	<webobject name="IsTab"><webobject name=TabPanel><webobject name=InspectPageRepetition1 /></webobject></webobject>
    
    <fieldset class="button">
    <ul>
        <li><webobject name = "SubmitButton6" /></li>
        <li><webobject name = "SubmitChanges" /></li>
   </ul>
   </fieldset>
      
  </webobject>
   
  <webobject name = "Errors" />
  
</webobject>