<webobject name="NavPage">
<div class="Box ApplicationNameBox">
  <h1>Configurando Aplica&ccedil;&atilde;o &quot;<webobject name="AppName" />&quot;</h1>
  <div class="DetailViewButtonWrapper">
  	<webobject name="ReturnLink">Vis&atilde;o Detalhada</webobject>
  </div>
</div>
<div class="Box NewInstanceSettingsBox">
  <webobject name = "NewInstanceConfigAjaxExpansion">
	<p>Novas Inst&acirc;ncias ser&atilde;o automaticamente configuradas para ter as seguintes defini&ccedil;&otilde;es. Padr&otilde;es podem ser configurados individualmente (ou em conjunto) a inst&acirc;ncias existentes, utilizando os bot&otilde;es de &quot;Configurar&quot; na coluna da direita. Para definir somente padr&otilde;es para novas inst&acirc;ncias (inst&acirc;ncias existentes permanecem inalteradas), use o &quot;Atualizar para Novas Inst&acirc;ncias Somente&quot; bot&atilde;o na parte inferior.</p>
           <webobject name="InstDefaultsForm">
              <table class="FormFieldTable">
                <tr><th> Caminho*: </th>
                  <td class="PathPickWrapper">
                    <div class="PathPicker"><div class="PathPickInner"><label>MacOSX</label><webobject name="TextField12" /></div><webobject name="PathPickerWizard5"><span>Escolha...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Windows:</label><webobject name="TextField11" /></div><webobject name="PathPickerWizard4"><span>Escolha...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Unix:</label><webobject name="PathField" /></div><webobject name="PathPickerWizard"><span>Escolha...</span></webobject></div>
                  </td>
                  <td class="PushButtonWrapper"><webobject name="PathOnlyButton" /></td>
                </tr>
                <tr><th>Auto Recuperar:</th>
                  <td><webobject name="AutoRecoverCheckbox" /> <span class="Comment">(N&atilde;o se aplica aos casos agendados)</span></td>
                  <td class="PushButtonWrapper"><webobject name="AutoRecoverOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Sess&otilde;es Ativas M&iacute;nimas: </th>
                  <td><webobject name="MinimumActiveSessionField" /></td>
                  <td class="PushButtonWrapper"><webobject name="MinimumOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Caching ativado: </th>
                  <td><webobject name="CachingEnabledCheckbox" /></td>
                  <td class="PushButtonWrapper"><webobject name="CachingOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Debugging ativado: </th>
                  <td><webobject name="DebuggingLogsCheckbox" /></td>
                  <td class="PushButtonWrapper"><webobject name="DebuggingOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Caminho de Sa&iacute;da**:</th>
                  <td class="PathPickWrapper">
                  	<div class="PathPicker"><div class="PathPickInner"><label>MacOSX</label><webobject name="TextField10" /></div><webobject name="PathPickerWizard6"><span>Escolha...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Windows:</label><webobject name="TextField6" /></div><webobject name="PathPickerWizard3"><span>Escolha...</span></webobject></div>
                    <div class="PathPicker"><div class="PathPickInner"><label>Unix:</label><webobject name="TextField3" /></div><webobject name="PathPickerWizard2"><span>Escolha...</span></webobject></div>
                  </td>
                  <td class="PushButtonWrapper"><webobject name="OutputOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Abrir Automaticamente no Navegador<br />Abrir Automaticamente na Aplica&ccedil;&atilde;o do Cliente:</th>
                  <td><webobject name="CheckBox6" /></td>
                  <td class="PushButtonWrapper"><webobject name="AutoOpenOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Intervalo de Lifebeat:</th>
                  <td><webobject name="TextField7" /></td>
                  <td class="PushButtonWrapper"><webobject name="LifebeatOnlyButton" /></td>
                </tr>
                <tr>
                  <th>Argumentos adicionais><br/>
                  de inicializa&ccedil;&atilde;o:
                  </th>
                  <td><webobject name="ArgsField" /></td>
                  <td class="PushButtonWrapper"><webobject name="AddArgsOnlyButton" /></td>
                </tr>
                <tr>
                  <td colspan="2"><webobject name="SaveChangesSubmitButton" /></td>
                  <td class="PushButtonWrapper"><webobject name="PushSubmitButton" /></td>
                </tr>
              </table>
            <p>* O caminho do execut&aacute;vel (dentro do diret&oacute;rio ". WOA ').</p>
            <p>** Este deve ser um diret&oacute;rio - o caminho deve terminar com um separador de arquivo (registros de ocorr&ecirc;ncia ser&aacute; salvo como &lt;ApplicationName&gt; - &lt;ID&gt;)</p>
          </webobject>
  </webobject>
</div>
<div class="Box ApplicationConfigBox">
  <webobject name="ApplicationConfigAjaxExpansion">
  <p>&nbsp;</p>
          <webobject name="AppSettingsForm">
              <table class="FormFieldTable">
                <tr><th>Nome: </th>
                  <td><webobject name="RealNameField" /> <span class="Comment">(Todas as inst&acirc;ncias da aplica&ccedil;&atilde;o deve estar desligado para alterar o nome)</span></td>
                </tr>
                <tr><th>Iniciando Porta: </th>
                  <td><webobject name="TextField4" /></td>
                </tr>
                <tr><th>Tempo Permitido para Inicializa&ccedil;&atilde;o: </th>
                  <td><webobject name="TextField5" /></td>
                </tr>
                <tr><th>Inicializa&ccedil;&atilde;o Faseada: </th>
                  <td><webobject name="CheckBox1" /></td>
                </tr>
                <tr><th>Adaptador: </th>
                  <td><webobject name="AdaptorField" /> <span class="Comment">('WODefaultAdaptor' &eacute; o padr&atilde;o)</span></td>
                </tr>
                <tr><th>Threads do Adaptador M&iacute;nimas: </th>
                  <td><webobject name="AdaptorThreadsMinField" /> <span class="Comment">(Aplica-se apenas ao WODefaultAdaptor para WO 5.x)</span></td>
                </tr>
                <tr><th>Threads do Adaptador M&aacute;ximo: </th>
                  <td><webobject name="AdaptorThreadsMaxField" /> <span class="Comment">(Aplica-se apenas ao WODefaultAdaptor para WO 5.x)</span></td>
                </tr>
                <tr><th>Threads do Adaptador: </th>
                  <td><webobject name="AdaptorThreadsField" /> <span class="Comment">(Aplica-se apenas ao WODefaultAdaptor para WO 4.5.x)</span></td>
                </tr>
                <tr><th>Tamanho da Fila de Escuta: </th>
                  <td><webobject name="ListenQueueSizeField" /></td>
                </tr>
                <tr><th>Project Search Path: </th>
                  <td><webobject name="ProjectSearchPathField" /></td>
                </tr>
                <tr><th>Tempo limite da Sess&atilde;o (sec): </th>
                  <td><webobject name="SessionTimeOutField" /></td>
                </tr>
                <tr><th>Senha P&aacute;gina de Estat&iacute;sticas: </th>
                  <td><webobject name="StatisticsPasswordField" /></td>
                </tr>
              </table>
              <p><webobject name="AppDefaultsOnlyButton" /></p>
          </webobject>
  </webobject>
</div>
<div class="Box SchedulingSettingsBox">
  <webobject name="SchedulingConfigAjaxExpansion">
          <p>Com este recurso voc&ecirc; pode ter o Monitor agendando suas inst&acirc;ncias para reiniciar as inst&acirc;ncias em intervalos regulares.</p>
          <p>Nota-se que todas as inst&acirc;ncias agendadas automaticamente agem como se fossem Recupera&ccedil;&atilde;o Autom&aacute;tico.</p>
          <webobject name="Conditional1">
          	<p>N&atilde;o h&aacute; inst&acirc;ncias configuradas para esta Aplica&ccedil;&atilde;o.</p>
          </webobject>
          <webobject name="Conditional2">
            <webobject name="Option3Form">
              <table cellpadding="1" cellspacing="1" border="1">
                <tr>
                  <th>ID</th>
                  <th>Servidor: Porta</th>
                  <th>&Eacute; <br /> Agendado</th>
                  <th>Gracioso <br /> Agendamento</th>
                  <th colspan="3">Tipo de Agendamento</th>
                </tr>
                <webobject name="Repetition1">
                  <tr>
                    <td><webobject name="String1" /></td>
                    <td><webobject name="String2" /></td>
                    <td><webobject name="CheckBox2" /></td>
                    <td><webobject name="CheckBox7" /></td>
                    <td>
                    	<div class="ControlColOne"><webobject name="RadioButton1" /></div><div class="ControlColTwo">A cada <webobject name="PopUpButton6" /> horas,<br />
                      starting &agrave;s <webobject name="PopUpButtonH" /> horas.</div></td>
                    <td><webobject name="RadioButton2" /> Todos os dias &agrave;s <webobject name="PopUpButtonD" /> horas.</td>
                    <td><div class="ControlColOne"><webobject name="RadioButton3" /></div><div class="ControlColTwo">Toda semana em  <webobject name="PopUpButton8" />,<br />
                      &agrave;s  <webobject name="PopUpButtonW" /> horas.</div></td>
                  </tr>
                </webobject>
              </table>
              <br />
              <webobject name="SubmitButton2" />
            </webobject>
          </webobject>
  </webobject>
</div>
<div class="Box EmailSettingsBox">
  <webobject name="EmailConfigAjaxExpansion">
          <webobject name="NOSmtpHostConfigured">
            <p>O Monitor precisa de um servidor de SMTP e um Endere&ccedil;o de Retorno configurado para poder enviar notifica&ccedil;&otilde;es por email.</p>
            <p>V&aacute; para o <webobject name="ConfigurePageLink">Configurar P&aacute;gina</webobject> configurar um servidor SMTP e especificar um Endere&ccedil;o de Retorno.</p>
          </webobject>
          <webobject name="SmtpHostConfigured">
            <p>Quando inst&acirc;ncias deste aplicativo terminar inesperadamente, Monitor enviar&aacute; uma notifica&ccedil;&atilde;o por email para os endere&ccedil;os de e-mail abaixo.</p>
            <p>Termina&ccedil;&otilde;es de Inst&acirc;ncia de desligamentos manuais (atrav&eacute;s Monitor) ou agendamento que n&atilde;o s&atilde;o contados como termina&ccedil;&otilde;es inesperadas.</p>
            <webobject name="EmailForm">
                <p><webobject name="CheckBox3" /> <strong>Notifica&ccedil;&otilde;es de e-mail est&aacute; Ativado</strong></p>
                <p>Insira m&uacute;ltiplos endere&ccedil;os de email separados por v&iacute;rgulas: <webobject name="EmailAddressesField" /></p>
                <br />
                <p><webobject name="SubmitButton1" /></p>
            </webobject>
          </webobject>
  </webobject>
</div>
<div class="Box AdapterSpecificSettingsBox">
  <webobject name="AdaptorSpecificConfigAjaxExpansion">
  <p>&nbsp;</p>
          <webobject name="AdaptorSettingsForm">
              <table class="FormFieldTable">
                <tr><th>Esquema de balanceamento de carga:</th>
                  <td><webobject name="LoadBalancingScheme" /><br />
                    Nome Agendador Personalizado: <webobject name="TextField8" />(opcional)</td>
                </tr>
                <tr><th>Tentativas:</th>
                  <td><webobject name="RetriesField" /></td>
                </tr>
                <tr><th>URL de redirecionamento:</th>
                  <td><webobject name="RedirectionURLField" /></td>
                </tr>
                <tr><th>Inativo:</th>
                  <td><webobject name="TimeoutField" /></td>
                </tr>
                <tr><th>Tempo limite de Envio:</th>
                  <td><webobject name="SendTimeoutField" /></td>
                </tr>
                <tr><th>Tempo limite de Recebimento:</th>
                  <td><webobject name="ReceiveTimeoutField" /></td>
                </tr>
                <tr><th>Tempo limite de Conectar:</th>
                  <td><webobject name="ConnectTimeoutField" /></td>
                </tr>
                <tr><th>Tamanho do Buffer de Envio:</th>
                  <td><webobject name="ConnectTimeoutField2" /></td>
                </tr>
                <tr><th>Tamanho do Buffer de Recebimento:</th>
                  <td><webobject name="ConnectTimeoutField3" /></td>
                </tr>
                <tr><th>Tamanho do Pool de Conex&otilde;es:</th>
                  <td><webobject name="PoolsizeField" /></td>
                </tr>
                <tr><th>URL Version:</th>
                  <td><webobject name="PopUpButton1" /></td>
                </tr>
              </table>
              <p><webobject name="UpdateAdaptorButton" /></p>
          </webobject>
  </webobject>
</div>
<script type="text/javascript">
document.getElementById('appSettingsForm').onsubmit = function(event) {
	var statsPassword = document.getElementById('statsPassword').value;
	if (statsPassword && statsPassword.length != 0) {
		var badChars = ['$', '&', '+', ',' ,'/' ,':', ';', '=', '?', '@', ' ', '<', '>', '#', '%'];
		for (var i=0; i<badChars.length; i++) {
			if (statsPassword.indexOf(badChars[i]) != -1) {
				alert('ATEN&Ccedil;&Atilde;O: "Senha da P&aacute;gina de Estat&iacute;sticas" n&atilde;o devem conter caracteres e t&ecirc;m um significado especial em URLs.');
				break;
			}
		}
	}
	return true;
}
</script>
</webobject>