<h2 class="SectionHeading">Choose a path:</h2>
<webobject name="JumpToForm">
  <p>Pular para: <webobject name="JumpToTextField" /> <webobject name="SubmitJumpTo" /></p>
  <p class="Warning"><webobject name="MessageString" /></p>
</webobject>
<p>Diret&oacute;rio atual: <code><webobject name="CurrentFilePath" /></code> <webobject name="SelectCurrentDirectoryLink"><span>Selecione atual</span></webobject></p>
  <table class="FileBrowseTable">
    <tr>
      <th>Nome</th>
      <th>Tamanho</th>
      <th>Sele&ccedil;&atilde;o</th>
    </tr>
    <tr>
      <td colspan="3"><webobject name="BackLink">.. Voltar (Um n&iacute;vel acima do diret&oacute;rio)</webobject></td>
    </tr>
    <webobject name="RowRepetition">
      <tr>
        <td class="FileNameWrapper">
            <webobject name="IsDirectory">
              <webobject name="DirectoryLink"><webobject name="DirImage" />&nbsp;<webobject name="FileString" /></webobject>
            </webobject>
            <webobject name="IsNOTDirectory">
              <webobject name="SpacerImage" />&nbsp;<webobject name="FileString" />
            </webobject>
        </td>
        <td class="FileSizeWrapper"><webobject name="FileSizeString" /></td>
        <td class="SelectDirectoryWrapper"><webobject name="SelectThisLink">Select</webobject></td>
      </tr>
    </webobject>
  </table>