<webobject name="NavPage">
<div class="Box AdapterConfigBox">
<h2 class="SectionHeading">Adaptador URL HTTP</h2>
<webobject name="AdaptorSettingsForm">
<p>Digite a URL completa para o adaptador HTTP WebObjects.<br /></p>
<p>Exemplo: <code>http://store.apple.com/cgi-bin/WebObjects</code></p>
<p>URL para Adaptador: <webobject name="AdaptorURLField" /> <webobject name="SubmitAdaptorButton" /></p>
</webobject>
</div>

<div class="Box AdapterInfo">
<h2 class="SectionHeading">Ver estat&iacute;sticas do site e informa&ccedil;&otilde;es WOAdaptor</h2>
<p class="AdaptorLoginHelp">O username e senha s&atilde;o definidos no arquivo de configura&ccedil;&atilde;o WOAdaptor usando as diretivas WebObjectsAdminUsername e WebObjectsAdminPassword.</p>
<webobject name="AdaptorInfoForm">
<table class="FormFieldTable">
	<tr>
		<th>Nome de Usu&aacute;rio:</th>
		<td><webobject name = "AdaptorInfoUsername"/></td>
	</tr>
	<tr>
		<th>Senha:</th>
		<td><webobject name = "AdaptorInfoPassword"/></td>
	</tr>
	<tr>
		<th></th>
		<td><webobject name = "AdaptorInfoSubmit"/></td>
	</tr>
</table>
</webobject>
</div>

<div class="Box AdaptorSettingsBox">
  <webobject name="AdaptorSettingsAjaxExpansion">
    <webobject name="AdaptorSettingsForm">
      <table class="FormFieldTable">
        <tr>
          <th>Esquema de Load-balancing:</th>
          <td><webobject name="LoadBalancingScheme" /><br />
                  Nome do Agendador Personalizado: <webobject name="TextField8" /> (Opcional)</td>
        </tr>
        <tr>
          <th>Tentativas:</th>
          <td><webobject name="RetriesField" /></td>
        </tr>
        <tr>
          <th>URL de redirecionamento:</th>
          <td><webobject name="RedirectionURLField" /></td>
        </tr>
        <tr>
          <th>Inativo:</th>
          <td><webobject name="TimeoutField" /></td>
        </tr>
        <tr>
          <th>Tempo limite de Envio:</th>
          <td><webobject name="SendTimeoutField" /></td>
        </tr>
        <tr>
          <th>Tempo limite de Recebimento:</th>
          <td><webobject name="ReceiveTimeoutField" /></td>
        </tr>
        <tr>
          <th>Tempo limite de Conectar:</th>
          <td><webobject name="ConnectTimeoutField" /></td>
        </tr>
        <tr>
          <th>Tamanho do Buffer de Envio:</th>
          <td><webobject name="ConnectTimeoutField2" /></td>
        </tr>
        <tr>
          <th>Tamanho do Buffer de Recebimento:</th>
          <td><webobject name="ConnectTimeoutField3" /></td>
        </tr>
        <tr>
          <th>Tamanho do Pool de Conex&otilde;es:</th>
          <td><webobject name="PoolsizeField" /></td>
        </tr>
        <tr>
          <th>URL Version:</th>
          <td><webobject name="PopUpButton1" /></td>
        </tr>
      </table>
	  <p><webobject name="UpdateAdaptorButton"/></p>
	</webobject>
  </webobject>
</div>
<div class="Box EmailNotificationBox">
  <webobject name="EmailNotificationAjaxExpansion">
	<p>Monitor pode enviar notifica&ccedil;&otilde;es por email se um servidor SMTP &eacute; fornecido. <br />
	Para usar as notifica&ccedil;&otilde;es de e-mail, visite a p&aacute;gina de configura&ccedil;&atilde;o do aplicativo para definir os endere&ccedil;os de e-mail para cada uma de suas aplica&ccedil;&otilde;es.</p>
    <webobject name="EmailForm">
      <table class="FormFieldTable">
        <tr>
          <th>Servidor SMTP:</th>
          <td> <webobject name="SMTPHostField3" /></td>
        </tr>
        <tr>
          <th>Endere&ccedil;o de Retorno:</th>
          <td><webobject name="SMTPHostField4" /></td>
        </tr>
      </table>
      <p><webobject name="UpdateEmailButton" /></p>
    </webobject>
  </webobject>
</div>
<div class="Box BackupBox">
  <webobject name="BackupAjaxExpansion">
	<p>Faz um backup timestamped do SiteConfig.xml e acrescentar uma nota curta opcional para o nome do arquivo.</p>
    <webobject name="BackupForm">
      <p>Nota: <webobject name="BackupNote" /> (opcional) <webobject name="BackupButton" /></p>
       <webobject name="InDevelopmentMode">
     <p>Salva as configura&ccedil;&otilde;es atuais no SiteConfig.xml.</p>
     <webobject name="ArchiveButton" />
    </webobject>
    </webobject>
    
  </webobject>
</div>
</webobject>