<webobject name="NavPage" />
<b>Aplica&ccedil;&otilde;es Mortas</b>
<br />
<br />
<webobject name="ClearDeaths">Limpar Hist&oacute;rico</webobject> | <webobject name="ReturnLink">Voltar para a Visão Detalhada da Aplica&ccedil;&atilde;o</webobject>
<br />
<br />
<table border="1" cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="2"> Data/Tempo Ocorrido </th>
  </tr>
  <webobject name="DeathRepetition">
    <tr>
      <td> <webobject name="DeathIndex" /> </td>
      <td> <webobject name="DeathDescription" /> </td>
    </tr>
  </webobject>
</table>