<webobject name = "NavPage">
<div class="Box AdminPasswordBox">
<h2 class="SectionHeading">Senha Monitor</h2>
<p>
	<webobject name = "AdminPasswordIsSet">A senha est&aacute; definida.</webobject>
	<webobject name = "AdminPasswordIsNotSet">A senha est&aacute; <b>N&Atilde;O</b> definida. </webobject>
</p>
<webobject name = "PasswordChangeForm">
    <table class="FormFieldTable">
      <tr>
        <th>Insira Nova Senha:</th>
        <td><webobject name = "AdminPassword1" /></td>
      </tr>
      <tr>
        <th>Confirmar Nova Senha:</th>
        <td><webobject name = "AdminPassword2" /></td>
      </tr>
    </table>
<p><webobject name = "PasswordChangeFormSubmit" /> <webobject name = "PasswordChangeFormSubmit2" /></p>
</webobject>
</div>
<div class="Box RefreshSettingsBox">
<h2 class="SectionHeading">Vis&atilde;o Detalhada Configura&ccedil;&otilde;es de Atualiza&ccedil;&atilde;o</h2>
<p>A p&aacute;gina de Vis&atilde;o Detalhada pode ser configurada para ser atualizada automaticamente na janela do seu navegador.</p>
  <webobject name = "DetailViewForm">
    <p><webobject name = "AutoRefreshCheckbox" /> Atualizar Autom&aacute;ticamente a Vis&atilde;o Detalhada</p>
    <p><webobject name = "AutoRefreshTimeIntervalField" /> segundos antes de atualizar.</p>
    <p><webobject name = "DetailViewSubmitButton" /></p>
  </webobject>
</div>
</webobject>