<webobject name = "NavPage">
<div class="Box AdminPasswordBox">
<h2 class="SectionHeading">Monitor Password</h2>
<p>
	<webobject name = "AdminPasswordIsSet">The password is currently set.</webobject>
	<webobject name = "AdminPasswordIsNotSet">The password is currently <b>NOT</b> set. </webobject>
</p>
<webobject name = "PasswordChangeForm">
    <table class="FormFieldTable">
      <tr>
        <th>Enter New Password:</th>
        <td><webobject name = "AdminPassword1" /></td>
      </tr>
      <tr>
        <th>Confirm New Password:</th>
        <td><webobject name = "AdminPassword2" /></td>
      </tr>
    </table>
<p><webobject name = "PasswordChangeFormSubmit" /> <webobject name = "PasswordChangeFormSubmit2" /></p>
</webobject>
</div>
<div class="Box RefreshSettingsBox">
<h2 class="SectionHeading">Detail View Refresh Settings</h2>
<p>The Detail View page can be configured to automatically refresh itself in your browser's window.</p>
  <webobject name = "DetailViewForm">
    <p><webobject name = "AutoRefreshCheckbox" /> Auto-Refresh the Detail View</p>
    <p><webobject name = "AutoRefreshTimeIntervalField" /> second delay before refreshing.</p>
    <p><webobject name = "DetailViewSubmitButton" /></p>
  </webobject>
</div>
</webobject>