<webobject name="NavPage" />
<div class="Box ConfirmationBox">
  <h2><webobject name="Question" /></h2>
  <p><webobject name="Explaination" /></p>
  <table>
  <tr>
    <td><webobject name="ConfirmClicked">Sim</webobject></td>
    <td><webobject name="CancelClicked">N&atilde;o</webobject></td>
  </tr>
</table>
</div>